[2021-10-05 18:57] MartinSchott opened #1 "Develop filtering by region and skills"
specifications here: https://pad.openculture.agency/9KpaLAUKR0KovckIKCiRpA?both#find-persons

[2021-10-05 18:59] MartinSchott opened #2 "Update profile "Steven Kovats""

[2021-10-05 19:02] bmen opened #3 "Choose right license"

[2021-10-05 19:02] bmen opened #4 "Notice Gilbert as initiator in the readme"

[2021-10-05 19:04] bmen opened #5 "Add privacy policy"

[2021-10-05 19:06] MartinSchott opened #6 "Tutorial: Create tutorial for profile creation"
process for profile creation still needs to be defined

[2021-10-05 19:06] bmen opened #7 "Create an about page"

[2021-10-05 19:08] bmen opened #8 "Create an issue template to create a new profile"

[2021-10-05 19:09] bmen opened #9 "Link in the footer of the html site to the right license file"

[2021-10-05 19:24] bmen commented on #8
another solution: issue forms https://beyondco.de/blog/github-issue-forms?ref=laravelnews

[2021-10-05 19:26] MartinSchott commented on #8
Issue Creation Process:
- Form on Website
- Form generates issue with the text for the markdown file
- admins/moderators copy the text for the markdown file into a pull request

[2021-10-07 09:41] bmen opened #10 "New Profile for Bastian"
### Name

Bastian

### Region

Berlin

### Hub

r0g Agency

### Skills

Computer

### Description

My name is Bastian and i'm working with github forms

[2021-10-07 12:52] MartinSchott opened #11 "[New Profile] Test Issue: New Profile"
### Name

Testguy Testowski

### Region

Uganda, Rhino Camp

### Hub

_No response_

### Skills

- [X] Repair
- [X] Computer
- [ ] Github
- [ ] Any else (please specify in the description!)

### Description

I am a test entry

### Profile Image

![September 2018](https://user-images.githubusercontent.com/8080649/136385968-c95d374d-3196-4515-85af-9302e8a2f775.png)

[2021-10-07 13:29] MartinSchott opened #12 "[New Profile] Create Profile for Test"
### Name

test

### Region

Testcountry, Testregion

### Hub

_No response_

### Skills

- [X] Repair
- [X] Computer
- [X] Github
- [ ] Any else (please specify in the description!)

### Description

test

### Profile Image

![Earth](https://user-images.githubusercontent.com/8080649/136393925-a11f7ac7-971c-4258-9e7f-b48813a26d88.png)

[2021-10-07 14:03] #11 closed, assigned to nobody

[2021-10-07 14:03] #12 closed, assigned to nobody

[2021-10-07 14:20] MartinSchott opened #13 "Create Profile for test"
### Name

test

### Region

test, xyz

### Hub

_No response_

### Skills

- [X] Hardware
- [X] Repair
- [X] Software
- [ ] Entrepreneurship
- [ ] Media Production
- [ ] Gender Equality Awareness
- [ ] Trauma Healing
- [ ] Financial Literacy

### Description

Yes

### Profile Image

![IMG_20211001_125730_633](https://user-images.githubusercontent.com/8080649/136403465-22f64fb0-4556-4758-a288-170fc

[2021-10-07 14:41] MartinSchott opened #14 "define skill categories"
that are available in "new profile" form

now:

Hardware
Repair
Software
Entrepreneurship
Media Production
Gender Equality Awareness
Trauma Healing
Financial Literacy

[2021-10-07 17:06] MartinSchott opened #15 "Change Profile for test"
### Name

test

### Profile Link

test

### What needs to be changed?

- [ ] Change Name
- [X] Change Region
- [X] Change Hub
- [ ] Change Skills
- [ ] Change Description
- [ ] Change Profile Image

### Description

New Region:

test

New Hub:

XYHub

[2021-10-07 23:37] timmwille opened #16 "Create Discussion section to better involve everyone to make LEAD work as a collective Platform"
Although it might be good to have a Discussion forum for the GitHub #ASKnet action in general, we might just start with this specific project. I also never used it really before, as this is a new feature → we should invite everyone

[2021-10-12 13:07] bmen opened #17 "List of all possible contact platforms"

[2021-10-12 13:53] bmen opened #18 "Create profile detail page"
Header:

left side = image
right side = Title, Region, Country, Contacts, Hub

Body:
Markdown profile file
-> include skills

[2021-10-12 19:31] MartinSchott opened #19 "Update how-to's regarding "new profile""
according to the changes in create profile (& change profile) forms

most important: tutorial "create profile (for #ASKnet peers)"

[2021-10-14 15:12] MartinSchott opened #20 "[test] Create Profile for ..."
### Name

test

### Profile Image

![September 2018](https://user-images.githubusercontent.com/8080649/137346033-de1c2220-7730-4656-97b4-d3ef5017c3cf.png)

### Country

germany

### Region

berlin

### Hub

r0g agency

### E-Mail

test@test

### Phone

_No response_

### WhatsApp

_No response_

### Homepage

_No response_

### Telegram

schottski

### GitHub

_No response_

### Twitter

_No respo

[2021-10-14 15:31] MartinSchott commented on #14
"first version" of the skill list is implemented. should this issue be closed for now @timmwille ?

[2021-10-14 15:45] MartinSchott commented on #6
first version is online

[2021-10-14 15:46] #8 closed

[2021-10-14 15:49] romeoplat opened #21 "Yine Yenki"
She is mentorship director in GoGirls ICT initiative

[2021-10-19 12:28] #21 closed, assigned to nobody

[2021-10-19 12:29] romeoplat commented on #21
Yeah sure

[2021-10-19 12:35] MartinSchott opened #22 "page after clicking on "create profile""
Problem:
github issue forms doesnt work in any github apps, just in the browser version of github. Therefore, mobile users *must* use the browser, otherwise the profile creation doesn't work.

proposed solution:
After clicking the button "Create Profile" on the LEAD website, the user isn't directly redirected to the github link, but is shown a page first.

## page after clicking "new profile"

cli

[2021-10-19 12:42] romeoplat opened #23 "Iklas Martin"
### Name

Iklas Martin

### Profile Image

![20211018_105640](https://user-images.githubusercontent.com/56886935/137909372-5cacc5a0-00dd-4b28-9694-e5e7a9c2a6c8.jpg)

### Country

South Sudan

### Region

Juba

### Hub

GoGirlsICT Initaitive

### E-Mail

_No response_

### Phone

+211916139905

### WhatsApp

+211916139905

### Homepage

_No response_

### Telegram

+211916139905

### GitHub

_No re

[2021-10-19 13:00] romeoplat opened #24 "Antoneta Keji Lodu"
### Name

Antoneta Keji Lodu

### Profile Image

![Uploading 20211012_140426.jpg…]()

### Country

South Sudan

### Region

Juba

### Hub

GoGirlsICT Initaitive

### E-Mail

_No response_

### Phone

+211924658040

### WhatsApp

+211924658040

### Homepage

_No response_

### Telegram

+211924658040

### GitHub

_No response_

### Twitter

_No response_

### Facebook

Anthoneta keji

### Instagram

[2021-10-19 13:43] MartinSchott commented on #23
information has been transferred

[2021-10-19 13:43] #23 closed

[2021-10-19 14:20] #24 closed, assigned to MartinSchott

[2021-10-19 14:21] #20 closed

[2021-10-19 18:18] MartinSchott opened #26 "Update Profile for Timm - or temporarily remove"
### Name

unchanged

### Profile Image

![Timm-Wille](https://user-images.githubusercontent.com/8080649/137951366-53de0fdf-d0a6-4bf1-8c7e-2866a628bb48.png)

### Country

Germany

### Region

Berlin

### Hub

r0g agency

### E-Mail

timm@openculture.agency

### Phone

+4917661304615

### WhatsApp

_No response_

### Homepage

_No response_

### Telegram

timmw

### GitHub

timmwille

### Twitter

_

[2021-10-21 14:15] MartinSchott opened #27 "Create overview page for all hubs"
incl
- contact person(s)
- members

more requirements appreciated @timmwille

[2021-10-21 16:11] myamy opened #28 "Can I please get a table / list view of the questions behind the "create new profile" issue?"
As someone who fills the database in areas with limited and/or very expensive internet connection, I need an offline version of "create a new profile" - easiest for me would be a table or list view of the information you request in the "create new profile"

[2021-10-21 17:38] MartinSchott commented on #28
would a rather techy/code-based solution be sufficient - like the code below that would need to be filled out, plus explanations that I could provide? Or does it need to have a lower threshold, e.g. a pdf form or a .doc file?

Code:
---
layout: profile
title:  "NAME-HERE"
image: "/assets/images/NAME-HERE/NAME-HERE.jpg"
country: COUNTRY-HERE
region: REGION-HERE
hub: HUB-HERE
mail:
phone:
whatsapp:

[2021-10-21 17:41] MartinSchott commented on #28
and is that time-critical in context of your trip?

[2021-10-21 18:16] maliarich opened #29 "My profile."
### Name

Maliamungu Richard

### Profile Image

![IMG_20210301_141543_793](https://user-images.githubusercontent.com/56769901/138331049-a8c3ca57-778f-43df-a785-2bc64ea60007.jpg)

### Country

Uganda

### Region

Rhino camp

### Hub

Platform Africa

### E-Mail

maliarich5@gmail.com

### Phone

+256775891582

### WhatsApp

+256775891582

### Website

-

### Telegram

Maliamungu Richard

### GitHub

[2021-10-21 18:28] MartinSchott commented on #28
talked to vicy - code solution proposed in the above message is sufficient

[2021-10-26 14:41] #14 closed, assigned to timmwille

[2021-10-26 14:49] MartinSchott opened #30 "decide skill scale"
# which scale / number system do we use for the skills?
- percentage scale
  - very subjective what a high or a low number is
- just 3 steps: "learning" , "assist a training", "lead a training"
  - more simple and easy to understand

Also, how can we check if the person really has the skill? certificates, work examples (like webpages, podcasts etc.), recommendations...

# Layout issues:
- "empty"

[2021-10-26 15:40] #22 closed, assigned to bmen

[2021-10-26 15:42] bmen opened #31 "responsive design for country filter"
The filter for countries is too wide and blows up the page

[2021-10-26 15:52] bmen opened #32 "Responsive design for create new profile section"
the column of the description has a width and on mobile it has to be 100% width

[2021-10-26 19:17] MartinSchott opened #33 "workflow for content and development changes"
- [ ] #231

- `main` branch
  - only stable tech developments, only reviewed content.
  - This branch is online! (rendered website)
- `dev` branch (development)
  - reviewed and managed by @bmen
  - only technical and design changes
  - NO working on content!
- `content` branch
  - reviewed by Sara, managed by repo maintainers
  - for reviewing and quality control

# Workflow
## content publishing

[2021-10-27 09:10] #32 closed, assigned to bmen

[2021-10-28 13:37] #10 closed, assigned to nobody

[2021-10-28 15:34] #29 closed, assigned to MartinSchott

[2021-10-31 19:26] timmwille commented on #26
not sure if it is cool to remove other peoples content btw ;)

Can we discuss this first?

[2021-10-31 19:30] timmwille opened #38 "README Picture Link broken"
is this now dev/technical or content? I guess `dev` branch?
https://github.com/ASKnetCommunity/LEAD/blob/main/README.md

[2021-10-31 19:59] timmwille commented on #30
I think it would be nice to point out the Skills for each expert in general but also reference somehow if it is at "I can lead a training" → so by that it would be just a checklist with Skill-Areas and some form of pointing at special skills.

"learning" is more like (I'm interested in) → this can be written in the description text, but things to filter and find people to support capacity building

[2021-10-31 20:00] timmwille commented on #33
nice @bmen add the optimised picture as well, I Like it

[2021-10-31 20:01] timmwille commented on #33
where would we document this, Wiki? @MartinSchott

[2021-11-01 05:03] romeoplat commented on #30
I guess I agree with you @timmwille but one more thing we should emphasise is that we have practical people in the team and we have those that can teach, and in some extent we have one person with both skills, so as we had discussed with @bmen .maybe apart siting the percentage of skill level, we should also ask some links to a prototype or training this person should have ever conducted or their

[2021-11-11 07:06] romeoplat opened #40 "Arkangelo Lemi"
### Name

Arkangelo Lemi

### Profile Image

This is a portrait of Lemi Arkangelo![20211113_133326.jpg](https://user-images.githubusercontent.com/56886935/142028383-7250741d-c61a-482b-b68d-bed5d200eeb9.jpg)

### Country

Uganda

### Region

Westnile

### Hub

Platform Africa

### E-Mail

lemiarkangelo@gmail.com

### Phone

+256777144959

### WhatsApp

+256777144959

### Website

_No response_

###

[2021-11-11 07:14] romeoplat opened #41 "Create Profile for ... Ojes Ware"
### Name

Amin John

### Profile Image
![20211025_183426.jpg](https://user-images.githubusercontent.com/56886935/142027940-6af11750-86c6-4b66-98e7-8b81ff8ad05f.jpg)
This is a potrait for Amin John

### Country

Uganda

### Region

Westnile

### Hub

Platform Africa

### E-Mail

amimjohn883@gmail.com

### Phone

+256788324586

### WhatsApp

+256788324586

### Website

_No response_

### Telegram

+

[2021-11-11 07:33] romeoplat opened #42 "Create Profile for ... Samuel Divinda"
### Name

Samuel Divinda

### Profile Image

This is a portrait of Divinda Samuel
![sa](https://user-images.githubusercontent.com/56886935/141256976-f109e1ee-c92f-4150-9e8a-55f24dc448ec.jpg)

### Country

Uganda

### Region

Westnile

### Hub

Platform Africa

### E-Mail

samueldivinda12@gmail.com

### Phone

+256704104648

### WhatsApp

+256704104648

### Website

_No response_

### Telegram

+25

[2021-11-11 07:47] romeoplat opened #43 "Create Profile for ... Job Robert Sanya"
### Name

Job Robert Sanya

### Profile Image

![sanya](https://user-images.githubusercontent.com/56886935/141258114-a4f75b94-a436-4726-ac83-3094fc2e4d87.jpg)

### Country

Uganda

### Region

Westnile

### Hub

Platform Africa

### E-Mail

robertsanya55@gmail.com

### Phone

+256780857635

### WhatsApp

+256780857635

### Website

_No response_

### Telegram

_No response_

### GitHub

_No respon

[2021-11-11 21:28] timmwille opened #44 "Change Issue Template Option "Hub" to "Organisation" or add both in subtext"
might be better if we want outside partners to onboard as experts as well?

[2021-11-11 21:34] timmwille opened #45 "Add "additional Contact info" Option to Issue Profile Template"

[2021-11-11 22:15] timmwille opened #46 "Change page render Header"
![grafik](https://user-images.githubusercontent.com/8081055/141376148-a494f88a-1837-448e-807a-c10c53571b50.png)

- [ ] 1) Change Logo the best one is like in this guide: https://openculture.agency/wp-content/uploads/2020/12/OSD-Guide-Links-Compressed-compressed.pdf
- [ ]  2)  find good Subtext and in the meantime remove the Lorem Ipsum
- [ ] 3) "Add Profile" instead of "NEW Profile" (optional)

[2021-11-16 16:05] #30 closed, assigned to bmen, MartinSchott, timmwille

[2021-11-16 16:19] MartinSchott commented on #33
@timmwille I created a first version here:
https://github.com/ASKnetCommunity/ASKnet.Community/wiki/Git-Workflow
can you check it?

feel free to check it as well @bmen

[2021-11-16 16:41] romeoplat commented on #41
Yeah he made a typo while creating his account but it's okay, and for the sake of the photo I am uploading it soon.

[2021-11-16 18:52] MartinSchott commented on #46
I didn't find a good subtext, do you have one or can write one @timmwille ?

extracted the logo from the pdf incl transparency (.png). Hope it's the one you wanted though, because there were two

[2021-11-16 18:56] MartinSchott commented on #41
thank you!

[2021-11-16 18:58] #45 closed

[2021-11-16 18:58] #44 closed

[2021-11-18 20:01] MartinSchott commented on #43
Hey @romeoplat , I couldn't find him on twitter, maybe you can help me if Job Robert finds it important

[2021-11-18 20:02] MartinSchott commented on #43
uploaded profile on ´content´ branch, from where it will be reviewed.

[2021-11-18 20:02] #43 closed

[2021-11-18 20:18] MartinSchott commented on #42
uploaded profile on `content` branch, from where it will be reviewed.

[2021-11-18 20:18] #42 closed

[2021-11-18 21:01] MartinSchott commented on #41
uploaded profile on `content` branch, from where it will be reviewed.

[2021-11-18 21:01] #41 closed

[2021-11-18 21:21] MartinSchott commented on #40
uploaded profile on `content` branch, from where it will be reviewed.

[2021-11-18 21:21] #40 closed

[2021-11-22 10:12] #18 closed

[2021-11-23 12:50] MartinSchott opened #47 "complete Profile Overview page"
- [ ] #53
- [ ] adapt to different profile picture aspect ratios (less important as not relevant to mobile users?)

[2021-11-23 12:51] MartinSchott opened #48 "complete first "branch merge round""
@bmen is that your task?

[2021-11-23 12:54] MartinSchott opened #49 "add Link to #ASKnet website in header menu"

[2021-11-23 12:55] MartinSchott opened #50 "clean the frontend - remove everything that doesn't look final or doesn't work"
Meaning, create a first Release of the page. try to look through the eyes of e.g. Romeo, Vicy, Steve...

- [x] remove contact form at the bottom of the page?
- [x] removed small social media icons on the side

[2021-11-23 12:56] MartinSchott opened #51 "update tutorial "create profile (for #ASKnet peers)""

[2021-11-23 12:59] MartinSchott opened #52 "having 25 fully filled profiles"
- [x] getting all information for the persons that have an "empty" profile (just the name, nothing else) - who and how?
- [x] getting new "4 skills" information for the persons that have a profile, but with old skill data - who and how?
  - [x] first: create issue form just with name and skills - @MartinSchott  (should we hide that somehow, e.g. in a different repo, as to not confuse new members?)

[2021-11-23 13:52] MartinSchott opened #53 "4 skills visible as "accordeon""

[2021-11-23 13:55] MartinSchott commented on #53
first version in branch `martin-wip-4skills` .

it works, but looks ugly. I used the bootstrap tutorial for an accordion, but it doesnt look like in the tutorial. I think that normally for the style there are classes for bootstrap cards that are also used for the accordion, but somehow they don't seem to be accessible. Maybe they need to be included somehow?

[2021-11-23 14:10] MartinSchott commented on #49
![grafik](https://user-images.githubusercontent.com/8080649/143039366-61b56363-4fbd-41a3-8acd-da8333b4bba4.png)

@timmwille wording OK?

[2021-11-23 14:12] MartinSchott commented on #49
![grafik](https://user-images.githubusercontent.com/8080649/143039566-d34bfa41-f702-4f55-8156-4c2dff98abdb.png)

@bmen now the menu is so long that it creates this issue (just desktop view). Do you have an idea how we can fix it? Put the menu a bit higher, so that it doesnt overlap the title "LEAD"?

[2021-11-23 15:42] MartinSchott opened #54 "automated redirect from http:// to https://"

[2021-11-23 15:45] bmen commented on #54
I have set so
![Selection_183](https://user-images.githubusercontent.com/389294/143056225-20e22380-f573-49bd-b27f-cf4a4a387dce.png)

[2021-11-23 15:45] MartinSchott opened #55 "Test "content-review-process""

[2021-11-23 16:05] bmen opened #56 "Text for footer"
![Selection_184](https://user-images.githubusercontent.com/389294/143059998-9e2ff0a0-fa2d-421c-ba9f-82521af15484.png)

[2021-11-23 16:56] #46 closed

[2021-11-23 17:03] #48 closed

[2021-11-23 17:10] MartinSchott opened #59 "Should we have an info@asknet.community mail adress, and who would take care of it?"

[2021-11-23 17:12] #50 closed

[2021-11-23 17:16] timmwille commented on #49
"About #ASKnet"

[2021-11-23 17:19] #49 closed

[2021-11-23 17:22] #54 closed

[2021-11-23 17:23] #47 closed

[2021-11-23 17:39] #31 closed

[2021-11-23 19:14] timmwille commented on #56
[MIT License](https://github.com/ASKnetCommunity/LEAD/blob/main/LICENSE.txt) by #ASKnet 2021 - ??

Partner and Funder? https://github.com/ASKnet-Open-Training/Github-Guidance#partners-and-funder (new r0g [Logo](https://openculture.agency/r0g_agency-new-logo/))

Credits for [theme](https://github.com/themefisher/kross-jekyll)

[2021-11-23 20:18] bmen opened #62 "Add Favicon from #ASKnet"

[2021-11-23 20:18] #62 closed

[2021-11-23 20:26] timmwille opened #63 "change fav icon to logo"

[2021-11-23 20:26] timmwille commented on #63
https://github.com/ASKnetCommunity/LEAD/blob/main/assets/images/favicon.png

[2021-11-23 20:29] timmwille commented on #63
ggf. use this one
https://github.com/ASKnet-Open-Training/ASKnet-Track-II-2020-2021/blob/main/assets/images/logo.png

[2021-11-23 20:36] #63 closed

[2021-11-23 20:37] #56 closed

[2021-11-23 20:37] #53 closed

[2021-11-23 20:39] bmen opened #65 "Add partner logos in footer"

[2021-11-23 20:43] timmwille opened #66 "Add Search bar"
as here

![grafik](https://user-images.githubusercontent.com/8081055/143109201-d0d2cfe1-2db9-469a-b473-2c0d7875d1a0.png)

[2021-11-23 20:43] MartinSchott opened #67 "Create Search Function"

[2021-11-23 20:47] timmwille commented on #66
https://asknet-open-training.github.io/ASKnet-Track-II-2020-2021/index.html

[2021-11-23 21:03] MartinSchott opened #68 "list credits in readme"
list all resources we had from somewhere else:

e.g.

- theme
- fontawesome
- other icons?
- if so, sources for graphics

[2021-11-27 10:49] myamy opened #69 "Dut Andrew Kulang"
### Name

Dut Andrew Kulang

### Profile Image

![IMG_3587 (2)](https://user-images.githubusercontent.com/4108917/143678150-eb2e6a0e-7580-4fb2-8055-7b235bfdec77.jpg)

### Country

Uganda

### Region

Adjumani, Pagirinya Refugee Settlement

### Organisation

YEF Youth Empowerment Foundation

### Languages

English (very good), Dinka (very good)

### Skill 1

Programming

### Qualifications for Skil

[2021-11-28 11:29] Ira13637 opened #70 "IRA EMMANUEL"
### Name

IRA EMMANUEL

### Profile Image

![Ira](https://user-images.githubusercontent.com/77249022/143765014-c6c1a794-88f3-480e-b053-2ab266f4dfc8.jpg)

### Country

Uganda

### Region

Pagirinya Refugee settlement, Adjumani

### Organisation

YEF

### Languages

English, Ma'di

### Skill 1

Organizational Development

### Qualifications for Skill 1

Bachelors Degree in Business administration-ac

[2021-11-30 15:37] MartinSchott opened #71 "Link "add profile" doesn't work when not on index page"

[2021-11-30 17:56] MartinSchott commented on #69
uploaded profile to the `content` branch, where it will be checked (content-review)

[2021-11-30 17:56] #69 closed

[2021-11-30 18:25] MartinSchott commented on #70
uploaded profile to the content branch, where it will be checked (content-review)

[2021-11-30 20:01] #71 closed

[2021-12-01 18:51] maliarich opened #74 "Baby Omer"
### Name

Baby Omer

### Profile Image

![Screenshot_20211130-221244](https://user-images.githubusercontent.com/56769901/144295062-65163ee6-304b-4c78-b8cc-263f9efa55b9.png)

### Country

South Sudan

### Region

Juba

### Organisation

Junub Open Space

### Languages

English Arabic Kakwa

### Skill 1

Community

### Qualifications for Skill 1

Certificate

### Skill 2

_No response_

### Qualific

[2021-12-02 18:14] maliarich opened #75 "Nunas Eluzai Manasseh"
### Name

Nunas Eluzai Manasseh

### Profile Image

![Uploading Screenshot_20211202-210654.png…]()

### Country

South Sudan

### Region

Juba

### Organisation

Go-girlsICT

### Languages

English Arabic.

### Skill 1

Hardware

### Qualifications for Skill 1

_No response_

### Skill 2

Software

### Qualifications for Skill 2

_No response_

### Skill 3

_No response_

### Qualifications for Sk

[2021-12-02 22:54] #26 closed

[2021-12-03 14:39] maliarich opened #76 "Sunday Guido Elias"
### Name

Sunday Guido Elias

### Profile Image

![Screenshot_20211203-173744](https://user-images.githubusercontent.com/56769901/144620629-9d946a05-cb37-4917-a68a-25a08150e088.png)

### Country

South Sudan

### Region

Juba

### Organisation

Go-girlsICT

### Languages

English ,Arabic

### Skill 1

Hardware & Repair

### Qualifications for Skill 1

_No response_

### Skill 2

Web & Software

##

[2021-12-04 09:19] vugawilliam opened #77 "Create Profile for vuga willy"
### Name

vuga willy

### Profile Image

![DSC_0375](https://user-images.githubusercontent.com/56921691/144702673-09c7cd79-044e-4907-8ea8-746c7e0d3865.JPG)
Hello! my name is vuga William
A South Sudanese-born refugee for 28 years. As a refugee, I faced a couple of challenges that made me come up with basic yet fulfilling solutions to solving challenges that affect me and my community which include

[2021-12-04 15:44] vugawilliam opened #78 "Create Profile for Bazio Doreen"
### Name

Bazio Doreen Lelega

### Profile Image

Am a Communications Specialist from Adjumani District, Uganda. I have five years experience in Journalism and Public Relations having worked In media and government institutions. Currently, I have been a part of Content Development at  The Youth Empowerment Foundation since 2018.
![DSC_0444](https://user-images.githubusercontent.com/56921691/144714

[2021-12-05 11:04] timmwille opened #79 ""View on GitHub" highlight / icon"
or add "external Link" symbol to it, might be good for "About #ASKnet" as well ...

[2021-12-05 18:17] acii4u opened #80 "Create Profile for ..."
### Name

Joyce  Akello

### Profile Image

![IMG-20211204-WA0008](https://user-images.githubusercontent.com/69857571/144758429-43b6e75e-2e50-411a-ad44-d225365e0083.jpg)

### Country

Uganda,South Sudan

### Region

Kampala

### Organisation

r0g Agency

### Languages

English,Acholi (very good),Arabic, Luganda(fairly good)

### Skill 1

Media and Art

### Qualifications for Skill 1

pursuing a ba

[2021-12-07 20:57] timmwille commented on #74
@babyomer please check if all info is there

[2021-12-08 09:28] babyomer commented on #74
Thanks! All information is correct, I  appreciate your help

On Tue, Dec 7, 2021, 23:58 Timm ***@***.***> wrote:

[2021-12-14 15:30] MartinSchott opened #81 "make it possible for profiles to have different countries"
example: Joyce Akello has Uganda and South Sudan. I chose Uganda for now.

[2021-12-14 17:39] timmwille commented on #33
@bmen → as you mentioned we rather change the graphic/process to: PR from develop → main and → content simultaneously!

@MartinSchott might be best to update the wiki text for the website as well?

[2021-12-14 17:53] bmen commented on #33
changed info graphic :heavy_check_mark:

[2021-12-14 21:24] timmwille commented on #33
It would be great to visualize in this way:

![grafik](https://user-images.githubusercontent.com/8081055/146081586-e1f4d948-9478-49f4-8fed-93e48054ab74.png)

[2021-12-15 00:57] timmwille commented on #67
see #66

[2021-12-15 00:57] #67 closed

[2021-12-15 01:03] timmwille opened #85 "Define a process for quality checks and/or verifying a profile"
So if we establish a process where existing experts can testify/verify a profile of a new member or per Skill it could function as a reference as well via "Referred/Testified/Approved/Verified/Recommended by ..."

What do you think is the best way to approve a new profile/member as expert? could even be applied to all, even without certificates/proof for reference of skills etc...

What do you thi

[2021-12-15 06:45] yyenki commented on #85
I agree with the options "Referred/Testified/Approved/Verified/Recommended by ..." and perhaps, we could consider the number of people who could, let's say, refer/testify/approve/verify/recommend.
Then members vote (that is, min 3 votes from existing experts) to qualify one's profile to be included.

[2021-12-15 07:55] maliarich commented on #85
I have similar thought to yines' .. I agree with this " allowing voting" .

On Wed, Dec 15, 2021, 9:45 AM Yine Nyika ***@***.***> wrote:

[2021-12-15 08:08] romeoplat commented on #85
Sure, let's do the voting thing

[2021-12-15 08:12] romeoplat commented on #85
Hmmm? So who votes here, cause I thought later tights data shall be available to the public, employers and contractors, could we leave tye rating open to anyone who can rate the skill level of the experts, though I love something like a tag, say new expert, intermediate expert and advanced expert those can be stages of rating that can be tagged by us for each expert depending on when they joined t

[2021-12-15 08:22] yyenki commented on #85
@romeoplat I feel that suggestion can work best for someone whose profile is already part of the repository, it would be good for the public to rate every individual who is profiled. That would work perfectly well. Perhaps, create more opportunities for such an individual…totally makes sense.
But I think @timmwille focus is on new members who will be profiled from our side as hub experts. I feel w

[2021-12-15 08:31] romeoplat commented on #85
Oh I now get it, so you mean like a pre voting before the person gets to the repository, yeah that one works, bur we have to also now here be clear on what parameters are we going to make our judgements, so that we can all have a clear way of how we vote in and our people I don't know kW if we can vote out anyway, but yes, we should set a few open guidelines like, the person must honestly have don

[2021-12-15 08:32] romeoplat commented on #85
Oh I now get it, so you mean like a pre voting before the person gets to the repository, yeah that one works, bur we have to also now here be clear on what parameters are we going to make our judgements, so that we can all have a clear way of how we vote in and our people I don't know kW if we can vote out anyway, but yes, we should set a few open guidelines like, the person must honestly have don

[2021-12-15 08:36] yyenki commented on #85
Very true. I guess we need to now deliberate on which parameters our voting will be based on.
Just a suggestion on one of the parameters we could consider...
1. if we could find any relevant online publication/mentions/tags, then we could vote for him or her.
@timmwille @maliarich @romeoplat feel free to add.

[2021-12-15 08:38] romeoplat commented on #85
He or she must be sane and should concent to being part of the #ASKlead

[2021-12-15 08:40] romeoplat commented on #85
He or she must be sane and should concent to being part of the #ASKlead

[2021-12-15 08:41] romeoplat commented on #85
3. He or she must be able have some evidence of his or her work online or offline as a product or prototype this shall help push people or have people who are product based, even though a trainer atleast have a mention online that you have trained these type of people.

[2021-12-15 09:03] maliarich commented on #85
Being part of the #ASKnet or related activities and or  willing to help further development of the #ASKLEAD, I think  is good consideration.
An expert  in Open source related field.

[2021-12-15 09:07] yyenki commented on #85
@maliarich @romeoplat Amazing. @timmwille what's your say?

[2021-12-16 12:46] #38 closed

[2021-12-16 16:26] MartinSchott opened #86 "add proper preview for the page in e.g. telegram"
description text and screenshot is already working, title is not working

[2021-12-16 20:14] MartinSchott opened #88 "add "edit profile" button at the bottom of each profile"
links to the .md file on github

[2021-12-21 15:07] MartinSchott commented on #33
@bmen can you change the picture? Or if you send me a link to where you do these graphics, I could also change it

[2021-12-21 15:08] MartinSchott opened #89 "add additional filtering option for "region""

[2021-12-21 17:26] MartinSchott opened #90 "Improve styling (CSS/Markdown?) of profile description text"
maybe a few stylesheets are missing

examples:

- [x] list items not visible
![image](https://user-images.githubusercontent.com/8080649/146972423-c12c3963-9a58-4ad8-bb75-f8b6ad09d517.png)

- [x] heading too big
![image](https://user-images.githubusercontent.com/8080649/146972813-2e3722fc-511e-4306-8744-bd7a3a1330dd.png)

- [x] format all images in the description text: e.g. `.img-fluid width="560p

[2021-12-21 18:53] MartinSchott opened #91 "Ayom Ruei Ayom - missing region, skills, qualifications, at least one contact option"
https://lead.asknet.community/profiles/14-Ayom/

- [x] Update/name Region
- [x] [Update Skills & Qualifications](https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=update-skills.yml&title=Update+Skills+for+...) - https://github.com/ASKnetCommunity/LEAD/issues/126 and https://github.com/ASKnetCommunity/LEAD/issues/106
- [x] Provide a public contact info if possibl

[2021-12-21 18:56] MartinSchott opened #92 "Richard Gama - missing region, skills, qualifications, at least one contact option"
https://lead.asknet.community/profiles/22-Richard-Gama/

- [x] Update/name Region
- [x] [Update Skills & Qualifications](https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=update-skills.yml&title=Update+Skills+for+...)
- [x] Provide a public contact info if possible or name another contact/expert

[2021-12-21 18:56] MartinSchott opened #93 "Amin John - missing qualifications for all skills"
https://lead.asknet.community/profiles/29-Amin-John/

- [ ] [Update Skill Qualifications](https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=update-skills.yml&title=Update+Skills+for+...)

[2021-12-21 18:57] MartinSchott opened #94 "Maliamungu Richard - missing qualifications for all skills"
https://lead.asknet.community/profiles/06-Maliamungu-Richard/

- [x] [Update Skills & Qualifications](https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=update-skills.yml&title=Update+Skills+for+...) - https://github.com/ASKnetCommunity/LEAD/issues/125

[2021-12-21 18:57] MartinSchott opened #95 "Dawa Edina Hillary - missing region, skills, qualifications, at least one contact option"
https://lead.asknet.community/profiles/16-Dawa/

- [x] Update/name Region
- [x] [Update Skills & Qualifications](https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=update-skills.yml&title=Update+Skills+for+...)
- [x] Provide a public contact info if possible or name another contact/expert

[2021-12-21 18:58] MartinSchott opened #96 "Mathew Lubari - missing region, qualifications for his skills, at least one contact option"
https://lead.asknet.community/profiles/08-Mathew-Lubari/

- [x] Update/name Region
- [x] [Update Skills & Qualifications](https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=update-skills.yml&title=Update+Skills+for+...) - here https://github.com/ASKnetCommunity/LEAD/issues/123
- [x] Provide a public contact info if possible or name another contact/expert

[2021-12-21 19:00] MartinSchott opened #97 "Wafela Andrew - missing region, skills, qualifications, at least one contact option"
https://lead.asknet.community/profiles/03-Wafela-Andrew/

- [x] Update/name Region
- [x] [Update Skills & Qualifications](https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=update-skills.yml&title=Update+Skills+for+...) - https://github.com/ASKnetCommunity/LEAD/issues/111
- [x] Provide a public contact info if possible or name another contact/expert

[2021-12-21 19:01] MartinSchott opened #98 "Arkangelo Lemi - missing qualifications for all skills"
https://lead.asknet.community/profiles/30-Arkangelo-Lemi/

- [ ] [Update Skill Qualifications](https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=update-skills.yml&title=Update+Skills+for+...)

[2021-12-21 19:02] MartinSchott opened #99 "Iklas Martin - missing qualifications for all skills"
and description could be longer

https://lead.asknet.community/profiles/26-Iklas-Martin/

- [ ] [Update Skill  Qualifications](https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=update-skills.yml&title=Update+Skills+for+...)

[2021-12-21 19:03] MartinSchott opened #100 "Samuel Divinda - missing qualifications for all skills, and maybe too many skills"
and description could be longer

https://lead.asknet.community/profiles/28-Samuel-Divinda/

[2021-12-21 19:03] MartinSchott opened #101 "Antoneta Keji Lodu - missing qualifications for all skills"
and description could be longer

https://lead.asknet.community/profiles/25-Antoneta-Keji-Lodu/

- [ ] Update Description/Short Bio
- [ ] [Update Skills & Qualifications](https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=update-skills.yml&title=Update+Skills+for+...)

[2021-12-21 19:05] MartinSchott opened #102 "Job Robert Sanya - missing qualifications for all skills"
https://lead.asknet.community/profiles/27-Job-Robert-Sanya/

- [ ] [Update Skill Qualifications](https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=update-skills.yml&title=Update+Skills+for+...)

[2021-12-21 19:06] MartinSchott opened #103 "Gilbert Charles - missing region, skills, qualifications"
https://lead.asknet.community/profiles/01-Gilbert-Charles/

- [ ] Update/name Region
- [ ] [Update Skills & Qualifications](https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=update-skills.yml&title=Update+Skills+for+...)

[2021-12-21 19:07] MartinSchott opened #104 "Joyce Akello - unclear: are qualifications sufficient?"
https://lead.asknet.community/profiles/Joyce-Akello/

[2021-12-21 19:08] MartinSchott opened #105 "Ira Emmanuel - unclear: qualification sufficient?"
https://lead.asknet.community/profiles/Ira-Emmanuel/

#70 might be linked

[2021-12-21 20:06] #88 closed

[2021-12-21 20:24] MartinSchott commented on #79
looks like that now @timmwille

![image](https://user-images.githubusercontent.com/8080649/146993008-0b19f4e3-a1ee-4c02-9e04-19839b6c2d00.png)

[2021-12-30 21:20] wunbaai opened #106 "Update Skills for Business Administration for Ayom"
### Name

Ayom Ruei Ayom

### Languages

English and Dinka

### Skill 1

Financial literacy

### Qualifications for Skill 1

Both certificate and degree in business administration, specializing in financial management.

### Skill 2

_No response_

### Qualifications for Skill 2

_No response_

### Skill 3

_No response_

### Qualifications for Skill 3

_No response_

### Skill 4

_No response_

##

[2022-01-04 13:52] MartinSchott commented on #66
I think in the old website which Timm posted, this technology is used: https://lunrjs.com/

[2022-01-04 14:00] timmwille commented on #81
Not needed in my view, as it is rather unusual that one person can be in two countries at once :D

[2022-01-04 16:10] MartinSchott commented on #17
all of the contact platforms are implemented → closing issue

[2022-01-04 16:10] #17 closed

[2022-01-04 16:11] #51 closed

[2022-01-04 16:15] MartinSchott commented on #65
@timmwille which ones? just r0g and BMZ, like we have on the #ASKnet website?

[2022-01-04 17:38] MartinSchott opened #107 "new page with list of All Skills and All Countries/Regions with the respective profiles"

[2022-01-04 17:40] #81 closed

[2022-01-04 17:41] timmwille commented on #68
@bmen please add your sources

[2022-01-04 17:43] timmwille commented on #65
Please add our main Ugandan Partner → Hive Colab!! also for Website and Trainings Repo

[2022-01-04 17:44] MartinSchott commented on #65
Hive Colab needs to be added on #asknet website as well

[2022-01-04 17:49] MartinSchott commented on #65
and all 5 hub logos, and all in grey (except for the BMZ logo), and also on #asknet website

[2022-01-04 17:55] MartinSchott commented on #68
related to this https://github.com/ASKnetCommunity/LEAD/issues/9

[2022-01-04 17:56] MartinSchott commented on #9
related to https://github.com/ASKnetCommunity/LEAD/issues/68

[2022-01-04 17:59] timmwille commented on #55
Together with @budarz and Petra

[2022-01-04 18:03] #9 closed

[2022-01-04 18:04] MartinSchott commented on #7
[ ] create new page (@MartinSchott )
[ ] write the content (@timmwille )

[2022-01-04 18:05] timmwille opened #108 "Fix navigation overlapping in section "Add Profile""
![grafik](https://user-images.githubusercontent.com/8081055/148103692-780aa42a-04bb-45d1-9dea-09ba664876cc.png)

[2022-01-04 18:12] timmwille commented on #7
We might want to use the page/content also in the website under #ASKtools section/description

[2022-01-05 14:37] timmwille commented on #90
yes I agree, the style of the headings is a bit too big, would also be nice to reduce the size of the pictures within the text a bit with html?

[2022-01-05 15:36] MartinSchott commented on #94
I removed this skillset that was present in your profile, if you find time please update using the new form linked above
[code]

[2022-01-05 15:37] timmwille commented on #94
thx @MartinSchott  → @maliarich if you have questions write me :)

[2022-01-05 15:39] MartinSchott commented on #96
I removed this skillset that was present in your profile, if you find time please update using the new form linked above

  skills:
    - {name: 'Computer networks and system administration (WLAN and LAN)', number: 1, qualification: ''}
    - {name: 'Computer repair and maintenance', number: 2, qualification: ''}
    - {name: 'ICT skills trainings', number: 3, qualification: ''}
    - {name: 'Fixi

[2022-01-05 15:41] timmwille commented on #96
thx @MartinSchott

[2022-01-05 15:53] timmwille commented on #1
I think we first implement the Search #66

[2022-01-05 15:56] MartinSchott opened #109 "People/Profiles that need to enter their full profile data"
New Profile Info: https://lead.asknet.community/index.html#create-new-profile

- [x] Eva Yayi
- [x] Mawa Robert
- [x] Romeo Lomora Ronald
- [x] #214
- [x] Yine Yenki
- [x] Yine Beatrice Jale
- [x] [Sunday](https://github.com/ASKnetCommunity/LEAD/issues/110)

[2022-01-05 16:16] MartinSchott commented on #106
@wunbaai  should I put the telephone number you put under "linkedin" as your phone contact? And also as your whatsapp contact?

[2022-01-05 16:25] timmwille commented on #91
thx for the update #106

[2022-01-05 16:29] wunbaai commented on #106
My region is Upper Nile.
Contact: +211924097008; it's the WhatsApp number as well.
Skills: I have a skill in business especially in financial management.
Qualifications: Degree in business administration

[2022-01-05 16:46] timmwille commented on #92
I've send him a message

[2022-01-05 16:47] timmwille commented on #96
wrote him a message maybe you can follow up @maliarich

[2022-01-05 16:47] timmwille commented on #97
wrote him a message maybe you can follow up @maliarich

[2022-01-05 16:47] timmwille commented on #91
wrote him a message maybe you can follow up @maliarich

[2022-01-05 16:47] timmwille commented on #95
wrote him a message maybe you can follow up @maliarich

[2022-01-05 16:48] timmwille commented on #92
wrote him a message maybe you can follow up @romeoplat

[2022-01-05 16:57] MartinSchott commented on #101
I removed this skillset that was present in your profile, if you find time please update using the new form linked above

  skills:
    - {name: Web & Software, number: 1, qualification: ''}
    - {name: Community & Moderation, number: 2, qualification: ''}
    - {name: Media & Art, number: 3, qualification: ''}
    - {name: Open Source & Knowledge, number: 4, qualification: ''}

[2022-01-05 17:02] timmwille commented on #99
@romeoplat can you follow up on this one?

[2022-01-05 17:02] timmwille commented on #99
might be linked to the general process #85

[2022-01-05 17:02] chardso commented on #97
I received the message, I will do the needful .

[2022-01-05 17:03] MartinSchott commented on #99
I removed this skillset that was present in your profile, if you find time please update using the new form linked above

    skills:
      - {name: Community & Moderation, number: 1, qualification: ''}
      - {name: Organizational Development, number: 2, qualification: ''}
      - {name: Media & Art, number: 3, qualification: ''}
      - {name: Data Security & Research, number: 4, qualification:

[2022-01-05 17:04] timmwille commented on #102
#43 can you follow up on this @romeoplat

[2022-01-05 17:05] MartinSchott commented on #102
I removed this skillset that was present in your profile, if you find time please update using the new form linked above

    skills:
      - {name: Web & Software, number: 1, qualification: ''}
      - {name: Hardware & Repair, number: 2, qualification: ''}
      - {name: Community & Moderation, number: 3, qualification: ''}
      - {name: Organizational Development, number: 4, qualification: ''}

[2022-01-05 17:08] MartinSchott commented on #100
I removed this skillset that was present in your profile, if you find time please update using the new form linked above

    skills:
      - {name: Web & Software, number: 1, qualification: ''}
      - {name: Hardware & Repair, number: 2, qualification: ''}
      - {name: Community & Moderation, number: 3, qualification: ''}
      - {name: Organizational Development, number: 4, qualification: ''}

[2022-01-05 17:10] timmwille commented on #100
thx @MartinSchott

maybe you can update this/follwo him up on this @romeoplat ?

[2022-01-05 17:11] timmwille commented on #93
@romeoplat if you can follow up on this?

@MartinSchott please copy the old skillset in here

[2022-01-05 17:12] MartinSchott commented on #93
I removed this skillset that was present in your profile, if you find time please update using the new form linked above

    skills:
      - {name: Web & Software, number: 1, qualification: ''}
      - {name: Hardware & Repair, number: 2, qualification: ''}
      - {name: Community & Moderation, number: 3, qualification: ''}
      - {name: Organizational Development, number: 4, qualification: ''}

[2022-01-05 17:14] MartinSchott commented on #98
I removed this skillset that was present in your profile, if you find time please update using the new form linked above

    skills:
      - {name: Web & Software, number: 1, qualification: ''}
      - {name: Hardware & Repair, number: 2, qualification: ''}
      - {name: Community & Moderation, number: 3, qualification: ''}
      - {name: Organizational Development, number: 4, qualification: ''}

[2022-01-05 17:15] timmwille commented on #98
@romeoplat can you follow up on this ? #40

[2022-01-05 17:16] timmwille commented on #104
@yyenki can you check with her? or is this relevant to issue process #85

[2022-01-05 17:19] timmwille commented on #105
#70 related can you check with Ira and/or Vuga @romeoplat ?

[2022-01-05 17:22] MartinSchott commented on #105
FYI: Skill and Qualification is:

    skills:
      - {name: 'Organizational Development', number: 1, qualification: 'Bachelors Degree in Business Administration - Accounting'}

[2022-01-05 17:23] MartinSchott commented on #106
thank you! Profile Data has been updated

[2022-01-05 17:24] timmwille commented on #106
should we apply the region Bor Town? → I'm thinking of a more close to location region to better find people with same region, but sure at some point a map is easier (future feature)

[2022-01-05 17:28] timmwille commented on #106
well Upper Nile is fine properly same size as Rhino Camp in Uganda probably :D

[2022-01-05 17:29] timmwille opened #110 "Add Map to better see the spread network expertise with Open Street Map"

[2022-01-05 17:34] timmwille commented on #76
@yyenki can you check with her to update the qualifications via:

- [ ] [Update Skill Qualifications](https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=update-skills.yml&title=Update+Skills+for+...)

[2022-01-05 17:38] timmwille commented on #77
I think the qualifications via pictures is a nice Idea and we definitely all know Vuga so @vugawilliam skills can be testified by @maliarich @yyenki @romeoplat and @timmwille :dancing_men:

[2022-01-05 17:41] timmwille commented on #77
@MartinSchott Skill 1 would refer to "Media & Art" and Skill 2 to "Hardware & Repair" but we definitely might want to split into Skill 3 for "Community & Moderation" and also Skill 4 as "Organisational Development" as he is founder of YEF Hub :100:

[2022-01-05 17:42] timmwille commented on #77
@vugawilliam later you can also clarify here via comment or add additional skills/info via Issue templat ["Skills Update"](https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=update-skills.yml&title=Update+Skills+for+...)

[2022-01-05 17:45] timmwille commented on #78
Technically all skills 1-4 fall under the mayor category skill "Media & Art" → unless there is a need of implementing a specific new category that can be used by many others (should be a meta skill category) @vugawilliam what do you think?

[2022-01-05 17:55] timmwille commented on #74
@babyomer I'm not sure if we can add the profile without specific qualification reference, can be a photo, name the exact workshop title from the certificate or send a picture of it

also I think you have quite some experience in Repair? → so I would opt for mayor category Skill 1 "Community & Moderation" and Skill 2 "Hardware & Repair"

→ all of them would make sence to provide with reference qua

[2022-01-05 17:59] timmwille commented on #75
@maliarich can you check the picture again? you might want to resize it via https://www.resizepixel.com/ so it is easier to upload here or just send me via Telegram

[2022-01-05 18:00] timmwille commented on #75
Skill 1 would be "Hardware & Repair" → @MartinSchott

Anything else to add to her skillset @yyenki ?

[2022-01-05 18:08] wunbaai commented on #106
One of the skills; I had participated in ASKNET training in which I learned many things.

[2022-01-05 21:24] chardso opened #111 "Update Skills for Wafela Andrew"
### Name

Wafela andrew

### Languages

- English (good) ,
 - kiswahili (goog)
 - madi/lugbara (good)
 - Luganda/lugisu(good)

### Skill 1

Hardware and repair.

### Qualifications for Skill 1

- Certificate
- Recommendation by YEF as a service provider

### Skill 2

Github documentation.

### Qualifications for Skill 2

- certificate by #ASKnet.

### Skill 3

Building construction

### Qualificat

[2022-01-06 02:38] romeoplat commented on #77
I feel like for some of us we can also have the power of adding and editing our profiles later

[2022-01-06 02:39] romeoplat commented on #98
Yeah sure

[2022-01-06 02:40] romeoplat commented on #93
I will be on it today

[2022-01-06 05:25] Math-TECH-Hub opened #112 "Update Skills for ..."
### Name

Mathew Lubvari

### Languages

English(Fluent both written and spoken), Arabic(Good both Written and spoken), Kakwa(Native)

### Skill 1

_No response_

### Qualifications for Skill 1

_No response_

### Skill 2

_No response_

### Qualifications for Skill 2

_No response_

### Skill 3

_No response_

### Qualifications for Skill 3

_No response_

### Skill 4

_No response_

### Qualific

[2022-01-06 05:59] chardso opened #113 "Update Skills for ..."
### Name

Wafela andrew

### Languages

- English (good) , - kiswahili (goog),- madi/lugbara (good),- Luganda/lugisu(good)

### Skill 1

Hardware and repair.

### Qualifications for Skill 1

_No response_

### Skill 2

Github documentation.

### Qualifications for Skill 2

Certificate from #ASKnet

### Skill 3

Building construction

### Qualifications for Skill 3

Certificate

### Skill 4

Agricu

[2022-01-06 06:48] Math-TECH-Hub opened #114 "Update Skills for Mathew Lubari"
### Name

Mathew Lubvari

### Languages

English(Fluent both written and spoken), Arabic(Good both Written and spoken), Kakwa(Native)

### Skill 1

Web & Software and Hardware & Repair

### Qualifications for Skill 1

- Diploma in Information Technology
- Certificate in Computer science
- Research,
- using platforms,
- Social media experience,
- installing, using, updating and maintaining programs

[2022-01-06 12:35] yyenki commented on #77
Absolutely!

[2022-01-06 14:11] MartinSchott commented on #85
Hey guys, that's a really interesting discussion you're having here!
Because I think it fits well, I am copying a part of the protocol from the meeting Vicy, Yine, Romeo and me had a while ago. Maybe it helps with the question "Which parameters should the voting be based on", that you were discussing further above.

[2022-01-06 17:12] #108 closed

[2022-01-06 17:12] MartinSchott commented on #108
I was fixing a side-scrolling bug and was already on it

[2022-01-07 00:06] #79 closed

[2022-01-07 01:09] MartinSchott commented on #90
besides the tasks above I also fiddled around with the "header" of each profile, so now it looks like that:

![grafik](https://user-images.githubusercontent.com/8080649/148474863-f61739d0-1702-4c63-bdc7-316841d8b1f3.png)

[2022-01-07 09:10] yyenki commented on #85
@MartinSchott I think in this case regarding the parameters, things like certificates/degrees can be optional, rather our focus should be on this key parameters.
## A prototype or a product (can be a device that he/she built, a podcast, a video, etc)
→ people have to provide links (sites that mention the person)
## Evidence of a workshop / training that she/he conducted
## A recommendation from a

[2022-01-07 17:42] vugawilliam commented on #77
I think organizational development and media & Art would work well.

On Thu, Jan 6, 2022, 3:35 PM Yine Nyika ***@***.***> wrote:

[2022-01-11 12:44] chardso commented on #97
Hope your got my feedback!

[2022-01-11 17:08] MartinSchott commented on #90
missing bullet points in skill text:
![grafik](https://user-images.githubusercontent.com/8080649/148988776-979b8075-3c07-4300-9e88-cc6d3aec05de.png)

[2022-01-11 17:10] MartinSchott commented on #111
hey @chardso , thank you so much for submitting your data!

Can you tell me, which certificate you have for Skill1 and Skill3?

Thanks!

[2022-01-11 17:11] MartinSchott commented on #97
@chardso yes, indeed we got it, I'm uploading your data!

[2022-01-11 17:36] #113 closed

[2022-01-11 17:42] #112 closed

[2022-01-11 17:52] MartinSchott opened #117 ""phone" contact option is not shown on profile page"

[2022-01-11 18:36] chardso commented on #117
Its good we great one.

[2022-01-11 20:28] timmwille commented on #114
@Math-TECH-Hub it is a bit tricky if you move from the 4 most relevant Skills to 7 bei adding them together → please check the ones you would like to highlight, you can add the others into your Profile description for now :)

I definitly know your Hardware & Repair skills are quite advanced and web and Software is at least intermediate

Think of it as what skills you would offer trainings in → or

[2022-01-11 20:33] MartinSchott commented on #114
hey @Math-TECH-Hub , I looked at your great content on instagram! https://www.instagram.com/mathewdukson/ Congrats!

[2022-01-11 20:41] timmwille commented on #114
No Copy paste please @Math-TECH-Hub :D

[2022-01-11 20:43] timmwille commented on #111
@chardso I agree with @MartinSchott if you check this as an outside view I would be confused → please add your Repositories as reference → Rabbitry, Herbes, Fruit trees, etc.

[2022-01-11 20:49] MartinSchott commented on #111
@chardso I just looked at all your repositories that Timm mentioned, wow, really impressive! I think these skills should be included in your profile somehow.

[2022-01-11 22:07] MartinSchott commented on #7
- title = about LEAD
- picture out
- Leaves out
- Partner: Hubs, r0g and bmz and hive colab (like asknet website) incl grayscale
- 3 icons:
  - local experts
  - ASK action
  - find your trainer (with magnifying glass)

[2022-01-11 22:41] #114 closed

[2022-01-11 22:41] Math-TECH-Hub commented on #114
@MartinSchott just include in the description text

[2022-01-11 22:43] Math-TECH-Hub commented on #114
@timmwille thank you for the guidance, I will make the changes,.

[2022-01-12 10:52] chardso commented on #111
Alright I will or just share the link ,how do u see!

[2022-01-12 20:50] hoijui opened #118 "LICENSE file is the one from the theme"
... that can't be right... right?

[2022-01-13 14:52] MartinSchott commented on #77
I included the skills 1 and 2 as @timmwille suggested, but didn't include Skill 3 for "Community & Moderation" and also Skill 4 as "Organisational Development", because I would need a qualification text for that. If you want that to be included as well, please provide a qualification text for each (similar as you have done for the first two skills) @vugawilliam . Thank you very much!
Btw, it's a g

[2022-01-13 16:46] #90 closed

[2022-01-13 17:35] MartinSchott commented on #114
@Math-TECH-Hub I added the link. Now  just  an update of the skills&qualifications is needed.

[2022-01-13 22:07] MartinSchott opened #122 "change skill output in csv-file"
Hey Robin @hoijui ,

first of all thanks a lot for the csv-file-generating-script! That's really useful and an easy fix for a problem we were having.

After discussing with @timmwille I wanted to ask for a small change. Would the following be possible?

CSV Output:
- Instead of "Skill_MediaArt", "Skill_OrganizationalDevelopment" etc. we would like
- the rows are named "Skill1", "Skill2", "Skill3",

[2022-01-14 08:27] Math-TECH-Hub opened #123 "Update Skills for Mathew Lubari"
### Name

Mathew Lubvari

### Languages

English(Fluent both written and spoken), Arabic(Good both Written and spoken), Kakwa(Native)

### Skill 1

Hardware & Repair

### Qualifications for Skill 1

- Diploma in Information Technology
- Certificate in Computer science
- Troubleshooting, fixing and maintenance of electronics (computers, mobile phones, solar lanterns etc.)
- Deployment, Installation

[2022-01-16 05:40] Math-TECH-Hub commented on #114
@MartinSchott update is already done

[2022-01-17 12:55] maliarich opened #125 "Maliamungu Richard profile"
### Name

Maliamungu Richard

### Languages

English - very good, Arabic - perfect, Kakwa- perfect , Pojulu - good  , Kiswahili- fair

### Skill 1

Web and software

### Qualifications for Skill 1

I learned Arduino programming , software installation by myself and guidance from the #ASKnet team members and had
 an Open tech Introduction event in Cameroon in Dec, 2021 , The participants had there

[2022-01-17 18:55] maliarich commented on #94
You may re-check the updates @MartinSchott
Cheers!

[2022-01-18 14:05] maliarich opened #126 "Ayom Ruei Ayom"
### Name

Ayom Ruei Ayom

### Languages

English , Arabic Dinka

### Skill 1

Community and moderation

### Qualifications for Skill 1

I had a training on public relationship and this paved way into getting employed by Ataka Hub where I am working upto date. This made it possible to mobilize community members for the repair cafe event we had in 24, 03, 2021.

### Skill 2

Open source and knowledg

[2022-01-18 14:18] maliarich commented on #96
@timmwille , Mathew updated his profile.

[2022-01-18 17:29] MartinSchott commented on #111
I see the links, but I think it would be better if you put them into the qualification text below a skill (you should choose to which skill they are fitting). And I think it would be helpful to write a sentence to explain. If some "stranger" reads the website, he/she needs to understand why there is a link about rabbits or rosemary ;)
I hope that is helpful, if there are questions let me know!

[2022-01-18 17:47] MartinSchott commented on #114
@Math-TECH-Hub  sorry, I don't find where the update is... Maybe I'm missing something, can you help me?

[2022-01-18 19:50] timmwille commented on #111
Hi @chardso → while scanning through your publications I would go for:
- https://github.com/chardso/Rabbitry
- https://github.com/chardso/fruit-culture-fruit-farming
- https://github.com/ASKnet-Open-Training/Minimal-Repair-Setup
- https://github.com/ASKnet-Open-Training/CommunityRepairCafe/issues
- https://github.com/ASKnet-Open-Training/ASKnet-Apps/issues (more to come)
- https://github.com/chard

[2022-01-18 19:51] timmwille commented on #111
Oh not to forget this one:
https://github.com/chardso/Rosemary-growing

[2022-01-18 19:52] timmwille commented on #111
And your Skills about Agriculture got me thinking → would that be a new Skill-Set Category @MartinSchott ?

[2022-01-18 19:57] timmwille commented on #122
thx @hoijui

@MartinSchott did you check the PR?

[2022-01-18 20:31] MartinSchott commented on #123
updates are uploaded

[2022-01-18 20:31] #123 closed

[2022-01-18 20:35] MartinSchott commented on #111
good point. Putting it under "Sustainability" isn't really doing it justice. I wonder how many other experts do have skills in that area? To create a new category, it would be good if it's relevant to several people.
I am also thinking, should the new category be "Agriculture" or can it be even more broad, like "Infrastructure", "Manufacturing of daily necessities", ... something like that, I have

[2022-01-18 21:00] timmwille commented on #126
@maliarich are you in contact with him → what about the repair cafe hosted in Bor and other ASKotec related activity maybe also Bior can add up to this ?

[2022-01-18 21:03] timmwille commented on #125
Hi @maliarich we all know you so I'm pretty sure if we go for the verification process as mentioned in #85 many will testify but for some activities you got certificates right? I can look for them too but you might have them quicker at hand :)

[2022-01-18 21:05] timmwille commented on #125
Also your activity in the past trainings 2019 and 2020 as co-trainer are relevant to mention as experience. you might want to link to some repositories or the respective issue section where your activity can be seen...

[2022-01-19 04:36] maliarich commented on #125
Hi @timmwille  thanks for the reminder ... I'll definitely add soonest

[2022-01-19 06:27] Math-TECH-Hub commented on #123
@MartinSchott hope you got it,

[2022-01-19 15:07] MartinSchott commented on #123
@Math-TECH-Hub ah you updated again, nice! Very detailed! I'll upload it

[2022-01-19 17:28] MartinSchott commented on #117
also the following two were not included. They are now.
- wikifab
- mastodon

[2022-01-19 17:34] #117 closed

[2022-01-19 18:23] MartinSchott commented on #7
all tasks from my above comment are done.

@timmwille you can see the current status in the `development` branch  ( /about.html ). Now you can give me more input on the content itself! Or should that be done by a Hubs Council member / or by Sara?

It looks like that now:

![about](https://user-images.githubusercontent.com/8080649/150191123-73105883-3b66-427f-a9ef-7444f2afca9a.png)

(is a screensho

[2022-01-19 18:34] maliarich commented on #126
Hi Timm
Yes, I am in contact with him ... he'll definitely need some help from Bior, I'll contact Bior  . I would have helped but have limited knowledge on Ataka activities.

[2022-01-19 19:14] MartinSchott commented on #122
yes. Thanks a lot @hoijui !

[2022-01-19 19:43] #122 closed

[2022-01-19 20:18] dawaedina27 opened #129 "Update Skills for Dawa Edina Hillary"
### Name

Dawa Edina Hillary

### Languages

1. English (Very good) 2. Arabic (very good) 3. Kakwa (mother tongue, very good) 4. Lugbara (good)

### Skill 1

*Hardware and repair - I have experiences repairing electronics,  hardware maintenance and managing repair cafes

### Qualifications for Skill 1

. Diploma in Information Technology - where I learnt about repairing electronic devices.
. CISCO

[2022-01-19 21:30] dawaedina27 opened #130 "Dawa Edina Hillary"
### Name

Dawa Edina Hillary

### Profile
![20220120_183950](https://user-images.githubusercontent.com/25750606/150371808-3078ccad-a230-4ce3-9ca9-b06bc684466e.jpg)

### Country

Uganda

### Region

Rhino camp - Uganda

### Organisation

_No response_

### Languages

1. English (Very good) 2. Arabic (very good) 3. Kakwa (mother tongue, very good) 4. Lugbara (good)

### Skill 1

*Hardware and repair

[2022-01-19 22:56] #129 closed

[2022-01-20 05:18] Math-TECH-Hub commented on #123
@MartinSchott let me update all then you can upload.

[2022-01-20 18:31] maliarich opened #131 "Sunday Guido Elias updates"
### Name

Sunday Guido Elias

### Languages

English, Arabic lokoya

### Skill 1

Web and Software

### Qualifications for Skill 1

I have a diploma of science in ICT. worked with Go-girlsICT hence refined my skills and later get involved in the repair cafe 23/03/ 2020 in St Thomas Secondary school - juba south Sudan.

### Skill 2

Hardware and repair

### Qualifications for Skill 2

Have a certif

[2022-01-20 18:44] maliarich commented on #75
Hi @timmwille @MartinSchott  I couldn't fine the link for Nunas qualifications update . Help copy into her skills + qualifications slots .

1. web and software

i have a bachelor degree in computer science. worked with Go-girlsICT. This helped me in learning more  skills and later get involved in the repair cafe 23/03/ 2020 in St Thomas Secondary school - juba south Sudan where we fixed number of

[2022-01-20 20:20] MartinSchott commented on #76
updates here https://github.com/ASKnetCommunity/LEAD/issues/131
uploaded, just waiting for some small information for everything to be complete

[2022-01-20 20:20] #76 closed

[2022-01-20 21:17] MartinSchott commented on #131
Hey @maliarich , thank you for submitting the profile info! It's much appreciated.

It's uploaded and will be public in the next release

[2022-01-20 23:42] MartinSchott opened #136 "remove illustrations from 404 page"
as the files have been deleted because of "Entschlackung"

[2022-01-21 12:52] MartinSchott commented on #123
@Math-TECH-Hub alright, the new updates are uploaded as well

[2022-01-21 13:02] maliarich opened #138 "Mawa Robert profile updates"
### Name

Mawa Robert

### Languages

English, Arabic , Kakwa, Pojulu , Kiswahili,

### Skill 1

Web and software

### Qualifications for Skill 1

I learned and practiced software installation in the #ASKnet- Repair and tech project we had in Eden - 2021. I fixed number of computers that requires software updates and upgrade.

### Skill 2

Hardware and repair

### Qualifications for Skill 2

I fix

[2022-01-21 13:04] maliarich commented on #138
Mawa Robert region is central equatoria state in south Sudan.

[2022-01-21 13:11] timmwille commented on #138
@maliarich please consider regions as "group" feature so if possible always similar regions so one can find more than one person in this district example: rather "Rhino Camp" then "Eden" etc. (for now, as LEAD grows we might change to more and detailed regions)

[2022-01-21 16:17] maliarich commented on #138
Aaah! Rhino camp refugee settlement then.

[2022-01-21 18:10] timmwille commented on #138
![grafik](https://user-images.githubusercontent.com/8081055/150578472-5ae9a297-b7fb-473d-924e-a20f1ee1a33a.png)

[2022-01-21 18:14] mawarose commented on #138
Thanks

[2022-01-22 09:16] Math-TECH-Hub commented on #96
@MartinSchott  thanks for updating my profile. however, the country is not matching the region, I'm in Uganda currently, so it should be changed from "South Sudan" to "Uganda"

Also could you add this "Communication: Excellent written and oral communication skills" under the Organization development skill.

Secondly I have a suggestion that we can as well include something like the below text just

[2022-01-22 09:19] Math-TECH-Hub commented on #96
also wanna add my telegram and GitHub account

[2022-01-25 13:28] MartinSchott commented on #75
@maliarich Thanks Richard, much appreciated! I uploaded the updates.

[2022-01-25 13:54] MartinSchott commented on #136
this is a test for timm

[2022-01-25 13:58] timmwille commented on #136
What does "Entschlackung" mean?

[2022-01-25 14:22] timmwille commented on #59
@romeoplat can we find someone for this to handle, it is there and ready to be used

[2022-01-25 14:23] romeoplat commented on #59
Which is that

[2022-01-25 14:23] romeoplat commented on #59
You mean for the emails?

[2022-01-25 14:26] romeoplat commented on #59
@timmwille who could have the address even after it's created, shall we give it to all asknet members or only the hubs or the whole community could have a uniformed mailing address system.

Maybe @yyenki could help us here as well.
Cause in its creation yes we can get synthia to work on it.
Thus won't take long I can help with the Coordination.

[2022-01-25 14:41] romeoplat opened #139 "Romeo Ronald Lomora"
### Name

ROMEO LOMORA RONALD

### Profile Image

![pic romeo](https://user-images.githubusercontent.com/56886935/150997915-7753f1b9-1638-4abd-b002-617b5dbcc1a2.jpg)

### Country

Uganda

### Region

Westnile

### Organisation

Platform Africa

### Languages

English - Very Good  Kakwa- Good  Juba Arabic - Very Good

### Skill 1

Media and Art

### Qualifications for Skill 1

OSM South Sudan, Juba

[2022-01-25 14:42] MartinSchott commented on #96
Hey Mathew,  @Math-TECH-Hub

No problem, I added your updates.

Regarding your suggestion:
First I wanna say how much I appreciate the work and the "seriousness" you put into your profile! I think you are a good example for others!
Most of the others don't have such a long description text as you have, so they don't have the need for a summary. In your case (and probably a few others) it does make

[2022-01-25 14:43] MartinSchott commented on #136
it means, removing old files that are not needed anymore

[2022-01-25 15:20] MartinSchott commented on #111
Hey Guys,

ok, so because the skills weren't in the categories that we prepared, here is a suggestion, with a few questions:
---

### Skill 1

Hardware and repair.

### Qualifications for Skill 1

- Certificate
- Recommendation by YEF as a service provider
- experience in building / construction

### Skill 2

Open Source & Knowledge

### Qualifications for Skill 2

Github documentation
- certifica

[2022-01-25 15:41] romeoplat opened #140 "Profile for Yine Yenki Nyika"
### Name

Yine Yenki Nyika

### Profile Image

![yine](https://user-images.githubusercontent.com/56886935/151008957-8269e4af-87ec-4221-b879-f7081e794b21.jpg)

### Country

South Sudan

### Region

Juba

### Organisation

GoGirls ICT Initiative

### Languages

English - Very Good  Kuku- Very Good  Juba Arabic - Good

### Skill 1

Web and software

### Qualifications for Skill 1

Degree in Computer

[2022-01-25 16:57] timmwille opened #141 "Revise all Hub/Organisation references on all Profiles"

[2022-01-25 17:42] MartinSchott commented on #140
I changed the skills slightly so that they match the skill categories as they are written in the [new profile form](https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=new-profile.yml&title=Create+Profile+for+...). If some of my changes should be done differently, let me know. The profile is here: https://lead.asknet.community/profiles/profiles/Yine-Yenki-Nyika/

[2022-01-25 18:06] MartinSchott commented on #106
let's continue the dialogue here: https://github.com/ASKnetCommunity/LEAD/issues/126

[2022-01-25 18:06] #106 closed

[2022-01-25 18:07] #91 closed

[2022-01-25 18:10] #95 closed

[2022-01-25 18:11] MartinSchott commented on #130
Awesome, I uploaded the information

[2022-01-25 18:25] #94 closed

[2022-01-25 19:56] #97 closed

[2022-01-25 20:01] timmwille commented on #96
@Math-TECH-Hub @MartinSchott → I think the suggestion works for now well (by the way might be something that works for Joyce as well?)

[2022-01-25 20:04] chardso commented on #111
Skill 2
Open source and knowledge
- Fruit farming,rabbit keeping and Rosemary growing all under agriculture.

[2022-01-25 20:35] MartinSchott opened #142 "add Skill Category "Production & Supply""
we need to define the examples:

"e.g. agriculture, ...."

[2022-01-25 21:05] Math-TECH-Hub commented on #96
Hi @MartinSchott @timmwille  feedback much appreciated, I will work on it first thing tomorrow!

[2022-01-25 21:36] MartinSchott commented on #111
Hey, thanks for the feedback!

So I included your projects into the skills (see below). @chardso @timmwille feel free to comment with further changes, or if it's okay and can be uploaded.

I talked with Timm about the skill category for Agriculture, and to make it quite broad we landed on "Production & Supply". So Agriculture and Husbandry would be included into that.

Looking forward to the final

[2022-01-25 21:51] MartinSchott commented on #78
uploaded all info except the skills, as they need to be reviewed

[2022-01-25 21:59] MartinSchott commented on #78
it would be great to have a profile picture that has a width of at least 400px

[2022-01-25 22:44] bmen commented on #68
## Bootstrap v4.1.1 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)

## Font Awesome Free v5.15.4 (https://fontawesome.com)
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)

## Shuffle.js v5.4.1 (https

[2022-01-25 23:43] romeoplat opened #144 "Create Profile for ... Eva Yayi"
### Name

Eva Yayi Upele

### Profile Image

![Eva pic](https://user-images.githubusercontent.com/56886935/151077441-6becccd1-ad68-4397-b60f-e915ce9262f4.jpg)

### Country

South Sudan

### Region

Juba

### Organisation

Go Girls ICT nitiative

### Languages

English - Very Good  Luganda Very good

### Skill 1

Web and software

### Qualifications for Skill 1

1. She is a programmer
2. app develo

[2022-01-25 23:59] romeoplat opened #145 "Create Profile for ... Yine Beatrice Jale"
### Name

Yine Beatrice Jale

### Profile Image

![image](https://user-images.githubusercontent.com/56886935/151078915-e4a59b7b-7130-4145-a494-ced14d5a0b7a.png)

### Country

South Sudan

### Region

Juba

### Organization

GoGirls ICT Initiative

### Languages

English
Juba Arabic

### Skill 1

Community Moderation
Conflict mitigation and resolution

### Qualifications for Skill 1

- Community Li

[2022-01-26 16:25] timmwille commented on #145
@romeoplat @yyenki - as this is again a profile with no reference for the qualifications how would we "proof" this officially to the public/community?

[2022-01-26 16:37] timmwille commented on #145
I also could not find her Wikifab account: https://wikifab.org/wiki/Utilisateur:B_yine

[2022-01-26 18:00] timmwille commented on #111
good to go I would say fo now

[2022-01-26 18:09] MartinSchott commented on #96
great, I'm gonna upload it!

[2022-01-26 18:17] chardso commented on #111
Good to go .I humbly say.

[2022-01-26 18:18] timmwille commented on #103
is not relevant right know, communication is dead currently so Archived

FYI @romeoplat @yyenki @vugawilliam

[2022-01-26 18:18] #103 closed

[2022-01-26 18:43] MartinSchott commented on #144
all data pushed to `content` branch, waiting for review

[2022-01-26 18:58] chardso commented on #111
Martin,go ahead and upload,am satisfied.

[2022-01-26 19:33] MartinSchott commented on #111
alright thanks, I will do that :)

[2022-01-26 19:33] MartinSchott commented on #145
all data pushed to `content` branch, waiting for review - changes can be made in the `content` branch before publication.

another question: In Skill 3 Qualification its written "bachelors" - is it a bachelors degree? It would be good to include the name of the degree

[2022-01-26 22:40] timmwille opened #146 "rename Skillset "Sustainability & Environment""

[2022-01-26 22:43] timmwille commented on #142
agriculture, (re)producing goods and supply market-items, run a producing and/or manufacturing business/service, care or other form of supply for the community and forms of logistics and physical goods management.

[2022-01-26 22:44] timmwille commented on #142
maybe cattle and other form of animal farming

[2022-01-27 07:35] yyenki commented on #145
On this issue, several things are off, perhaps, It's something that can be improved with time. Under describe yourself, I expect to read about someone's bios, let's focus on something that holds water. The above description is very shallow,  and I think this applies to all the profiles **(I will check through them over the weekend**).
Beatrice's profile can be linked to GoGirls website for the sta

[2022-01-27 07:37] romeoplat commented on #145
Yeah so since we are all editors and you may know her better, please just go and edit the profile and fix the necessary words.
Thanks

[2022-01-27 07:39] yyenki commented on #145
It's supposed to be a Bachelor degree in Information Technology, but I feel somehow, categorization of skills (1,2,3,4), makes the content displayed look scattered. Could we find a better way to show that?

[2022-01-27 07:40] yyenki commented on #145
@romeoplat When she shares her bios with me, then I will.

[2022-01-27 08:10] romeoplat commented on #145
It's okay @yyenki

[2022-01-27 21:04] MartinSchott commented on #65
partner logos now visible on the landing page. Pushed to `development` . If you want to review @timmwille , best to locally view the rendered branch.

[2022-01-27 21:08] MartinSchott commented on #145
Sounds great! Can you notify me when the changes are made @yyenki , so I can then upload the new version?

[2022-01-28 08:17] yyenki commented on #145
Great @MartinSchott. I requested for her bios so as soon as she shares, i will upload it asap.

[2022-02-01 16:41] Math-TECH-Hub opened #147 "How to know the data collector?"
hey,
How do you know the data being entered is collected by a specific person. e.g collected by Mathew or Edina.

[2022-02-01 16:46] Math-TECH-Hub commented on #147
I suggest section be added for the data collectors name. for example: Data collected and entered by:

[2022-02-01 17:12] #65 closed

[2022-02-01 17:12] #68 closed

[2022-02-02 04:33] chardso opened #151 "Amanyara Allan"
### Name

Amanyara Allan

### Profile Image

![IMG_20220201_174330](https://user-images.githubusercontent.com/71114711/152092133-b8e347c6-62eb-4b62-9bf3-aa2f993c67cb.jpg)

### Country

Uganda

### Region

Northern and Westnile

### Organisation

_No response_

### Languages

- English (good) , - kiswahili (goog),- madi/lugbara (good).

### Skill 1

Journalism and mass communication

### Qualificat

[2022-02-02 05:46] chardso commented on #151
![Uploading DSC_1205.JPG…]()

[2022-02-02 06:17] chardso opened #152 "Create Profile for ...Amanyara Allan"
### Name

Amanyara Allan

### Profile Image

![Uploading DSC_1205.JPG]()

### Country

Uganda

### Region

West Nile

### Organization

The Youth Empowerment Foundation

### Languages

- English (good) , - kiswahili (fair), madi(good), lugbara (good).

### Skill 1

Media & Art

### Qualifications for Skill 1

I have a Diploma in Journalism and Mass Communication from  UMCAT School of Journalism an

[2022-02-02 06:31] #151 closed

[2022-02-02 09:47] chardso opened #154 "Create Profile for..Anyanzo Jonathan"
### Name

Anyanzo Jonarhan

### Profile Image

![IMG_20220202_121700](https://user-images.githubusercontent.com/71114711/152126342-3975ad31-6043-418d-8871-ebbcff19b597.jpg)

### Country

Uganda

### Region

Northern uganda, west Nile

### Organisation

YEF

### Languages

- English (good) , - kiswahili (good),- madi/lugbara (good).

### Skill 1

Web design and development

### Qualifications for S

[2022-02-02 09:48] MartinSchott commented on #152
uploaded the data to `content` branch, will be visible after the next pull request

[2022-02-02 10:10] MartinSchott commented on #154
uploaded the data to `content` branch, will be visible after the next pull request

[2022-02-02 11:50] alorogordonpaul opened #155 "Sabri Felix David"
### Name

Sabri Felix David

### Profile Image

![IMG-20220201-WA0006](https://user-images.githubusercontent.com/98464956/152147653-4b587cb9-3fe8-4d7b-bc96-4a063a88bfba.jpg)

### Country

Uganda

### Region

Western Nile Rhino Camp refugee settlement

### Organisation

_No response_

### Languages

Kakuwa, Arabic, English

### Skill 1

Hardware & Repair

### Qualifications for Skill 1

certificate

[2022-02-02 11:51] alorogordonpaul commented on #155
You're welcome and thank you for your time

[2022-02-02 12:36] chardso opened #156 "Create Profile for ...Madile patrick"
### Name

Madile patrick

### Profile Image

![IMG_20220202_151938](https://user-images.githubusercontent.com/71114711/152152727-6db15852-adbc-4bda-8794-adeb32d0a000.jpg)

### Country

Uganda

### Region

West Nile

### Organisation

Medical teams international

### Languages

- English (good) , madi,arabic

### Skill 1

Community and moderation

### Qualifications for Skill 1

Diploma in public h

[2022-02-02 13:25] MartinSchott opened #157 "New skill category needed in the area of health, medicine, science, nutrition etc."
came up because of https://github.com/ASKnetCommunity/LEAD/issues/156

Proposals:
Medical & Science
Health & Medicine

[2022-02-02 13:34] chardso commented on #157
Have created another task?

[2022-02-02 13:39] chardso commented on #157
I was thinking that trauma healing is under health,so I could catergorise it under community and moderation.

[2022-02-02 14:47] DutKulang opened #158 "Create Profile for ... Duku Godfrey"
### Name

Duku Geofrey

### Profile Image

![IMG_20220202_173206_918](https://user-images.githubusercontent.com/69721309/152174779-fc322a7e-1213-4910-a19e-e87b4521df93.jpg)

### Country

Uganda

### Region
West Nile

### Organisation

YEF

### Languages

English ()very Good), Madi (very good)

### Skill 1

community & moderation

### Qualifications for Skill 1

i have participated and taken lead i

[2022-02-02 14:47] dutandrewkulang commented on #158
am testing it

[2022-02-02 15:22] chardso opened #159 "Create Profile for ...Vundru Dominic"
### Name

Vundru Dominic

### Profile Image

![IMG_20220202_175829](https://user-images.githubusercontent.com/71114711/152179663-ecd6a1af-5587-4362-8ca3-d510b385099d.jpg)

### Country

Uganda

### Region

Northern uganda

### Organisation

_No response_

### Languages

English (good),Arabic (fgood),madi(vgood)

### Skill 1

Accounting and finance

### Qualifications for Skill 1

Bachelor of busine

[2022-02-02 15:40] alorogordonpaul opened #160 "Luka Ngongi"
### Name

Luka Ngongi

### Profile Image

![IMG-20220202-WA0001](https://user-images.githubusercontent.com/98464956/152185103-f76ce766-aa40-4e35-b279-9ba50ff67263.jpg)

### Country

Uganda

### Region

WestNile Rhino Camp

### Organisation

_No response_

### Languages

Kakuwa, Arabic, English

### Skill 1

Hardware & Repair

### Qualifications for Skill 1
Am having a workshop.
Am also a software

[2022-02-02 16:56] alorogordonpaul opened #161 "Michael Monday Alfred"
### Name

Michael Monday Alfred

### Profile Image

![IMG-20220202-WA0002](https://user-images.githubusercontent.com/98464956/152200182-9d95f0c5-4d83-4aaa-b769-18cb4d224513.jpg)

### Country

Uganda

### Region

Wester Nile Rhino Camp refugee settlement

### Organisation

_No response_

### Languages

Bari,Arabic, English, lugbara

### Skill 1

Open Source & Knowledge

### Qualifications for Skill

[2022-02-02 20:05] GhaiTong opened #162 "Profile Michael Ghai Tong"
### Name

Michael Ghai Tong Aroffe

### Profile Image

![DSC_0112](https://user-images.githubusercontent.com/56925203/152227393-065c5ed9-3cc4-4f65-832d-0302dfa6dabd.JPG)

### Country

South Sudan

### Region

Jonglei

### Organisation

ATAKA HUB SOUTH SUDAN

### Languages

English (Excellent), Arabic (Good), Dinka (Excellent) and Nuer (Excellent)

### Skill 1

Media and art

### Qualifications for

[2022-02-03 10:34] MartinSchott commented on #158
alright, let me know when it is finished / when action on my part is needed

[2022-02-03 12:42] MartinSchott commented on #162
unfortunately I wasnt able to find your instagram and twitter account, if you want you can send me the links to the profiles.
I found this website though, do you want that to be included? https://ghaitong.wordpress.com/

[2022-02-03 12:47] timmwille commented on #162
@ASKnetCommunity/data-collectors

[2022-02-03 13:03] MartinSchott commented on #156
I think Science & Health  //  Health & Medical  fits better, we can discuss the new skill category here: https://github.com/ASKnetCommunity/LEAD/issues/157

[2022-02-03 13:09] timmwille commented on #159
Skills are "Organisational Development"?

[2022-02-03 13:12] MartinSchott commented on #159
can we get more infos on the degree & certificate?

[2022-02-03 13:14] timmwille commented on #159
@chardso @vugawilliam

[2022-02-03 13:20] MartinSchott commented on #161
I'm curious: in the description "prycho socialist" is mentioned. I don't know that, what is it? Or is it a spelling mistake?

[2022-02-03 13:28] timmwille opened #163 "Renaming "Skill" to "Skillset" in the Templates?"

[2022-02-03 13:38] timmwille commented on #77
@vugawilliam ok cool add your certificates in here is fine

[2022-02-03 14:01] Math-TECH-Hub opened #164 "Juma Emmanuel"
### Name

Juma Emmanuel

### Profile Image

![IMG-20220203-WA0002](https://user-images.githubusercontent.com/57042950/152352116-8693ded9-27a8-4080-ad80-ba9f7184ce55.jpg)

### Country

South Sudan

### Region

Juba-Central Equatoria State

### Organisation

_No response_

### Languages

English: Good!   Arabic: Good!  Kakwa: fluent

### Skill 1

Media & Art

### Qualifications for Skill 1

- Multim

[2022-02-03 14:02] dutandrewkulang opened #165 "Create Profile for ... Saki Daniel Comboni"
### Name

Saki Daniel Comboni

### Profile Image

![SAKI](https://user-images.githubusercontent.com/69721309/152354331-85935700-554e-4f9f-a58a-0e3de433b05d.jpg)

### Country

South sudan

### Region

West Nile

### Organisation

YEF

### Languages

English (very Good), Madi (very good)

### Skill 1

Organizational Development

### Qualifications for Skill 1

## Certificate in Business and manageme

[2022-02-03 14:50] alorogordonpaul commented on #161
I think it's mistake

On Feb 3, 2022 4:20 PM, "MartinSchott" ***@***.***> wrote:

I'm curious: in the description "prycho socialist" is mentioned. I don't
know that, what is it? Or is it a spelling mistake?

—
Reply to this email directly, view it on GitHub
<https://github.com/ASKnetCommunity/LEAD/issues/161#issuecomment-1028984004>,
or unsubscribe
<https://github.com/notifications/unsubscribe-aut

[2022-02-03 15:47] dawaedina27 opened #166 "Lawrence Kenyi Stephen"
### Name

Lawrence Kenyi Stephen

### Profile Image

![IMG-20220203-WA0013](https://user-images.githubusercontent.com/25750606/152372042-41fa9763-4e2a-49a0-8280-ded25b1ec058.jpg)

### Country

Uganda

### Region

Rhino camp

### Organization

None (#ASKnet 2018 trainee)

### Languages

1. English (Fluent - spoken and written)
2. Arabic (good - spoken only)
3. Kakwa/bari (very good - spoken and wri

[2022-02-03 17:58] dawaedina27 opened #167 "Tabu Suzan"
### Name

Tabu Suzan

### Profile Image

![FB_IMG_1643899766211](https://user-images.githubusercontent.com/25750606/152396830-c6fc0492-ade7-4f34-922f-c49461e1e3a4.jpg)

### Country

South Sudan

### Region

Juba, Central Equatoria State

### Organisation

_No response_

### Languages

1. English (Fluent -spoken and written) 2. Arabic (good - spoken only) 3. Kakwa/bari (mother tongue, very good)

#

[2022-02-03 19:07] chardso commented on #159
Yeah we can get more info,I will download them here

[2022-02-03 19:22] chardso commented on #154
![Uploading IMG_20220202_110946.jpg…]()
Johnathan handling introduction to computer for Digital boot tech camp at pagirinya satellite.

[2022-02-04 08:29] chardso commented on #159
![Uploading Screenshot_20220204-112701_MuPDF_viewer.png…]()

[2022-02-04 08:29] chardso commented on #159
![Screenshot_20220204-112623_MuPDF_viewer](https://user-images.githubusercontent.com/71114711/152496509-a8cde4eb-7482-4d7c-9c9a-3c8c7e1c539f.png)
![Screenshot_20220204-112543_MuPDF_viewer](https://user-images.githubusercontent.com/71114711/152496531-159a9ebd-000b-41c1-8f66-4fc3e4f04262.png)

[2022-02-04 08:30] chardso commented on #159
![Uploading Screenshot_20220204-112701_MuPDF_viewer.png…]()

[2022-02-04 20:07] GhaiTong commented on #162
Timmwille, which one do you mean?

[2022-02-04 20:09] GhaiTong commented on #162
I don't longer have control of that website. I don't think that it should be included.

[2022-02-05 07:00] dutandrewkulang commented on #162
so there shouldn't be included

[2022-02-05 07:03] dutandrewkulang commented on #7
well done

[2022-02-06 11:50] Math-TECH-Hub opened #168 "Asiki Moses Godfrey"
### Name

Asiki Moses Godfrey

### Profile Image

![IMG_20220206_142326_743](https://user-images.githubusercontent.com/57042950/152678732-d0728651-78e6-41b8-8110-fe282b9f2413.jpg)

### Country

Uganda

### Region

Rhino Camp Refugee Settlement

### Organisation

Save Young Lives Foundation Uganda (SYLFU)

### Languages

1. English-fluent  2. Kakwa-good  3. Arabic-good

### Skill 1

Community & Mod

[2022-02-06 13:38] Math-TECH-Hub opened #169 "Amos Batali Ezra"
### Name

Amos Batali Ezra

### Profile Image

![IMG-20220206-WA0009](https://user-images.githubusercontent.com/57042950/152683566-0d4d0eee-79ca-4911-855e-c1323f72c2a1.jpg)

### Country

Uganda

### Region

Bidibidi Refugee Settlement - Yumbe

### Organisation

_No response_

### Languages

1- English: Very good  2- Arabic: Good    3- Kakwa: Fluent

### Skill 1

Web & Software

### Qualifications

[2022-02-06 17:16] DutKulang opened #170 "Create Profile for ...Amoko Joseph"
### Name

Amoko Joseph

### Profile Image

![amoko_joseph](https://user-images.githubusercontent.com/69721309/152692242-d782aaee-7fba-41cf-a3bc-be3d2c04b145.jpg)

### Country

Uganda

### Region

Pagirinya

### Organisation

Yef

### Languages

English (very good), Luganda (Fair), Madi (Good)

### Skill 1

Media & Art

### Qualifications for Skill 1

Trained by @romeoplat on how to write and produ

[2022-02-06 17:19] dutandrewkulang commented on #170
I will added his Facebook and telegram links as well as Facebook link and link to his podcast on sound cloud

[2022-02-07 18:01] alorogordonpaul commented on #160
It's complete

[2022-02-07 18:03] #160 closed

[2022-02-07 18:44] chardso commented on #147
![Uploading Screenshot_20220207-212713_Brave.png…]()

[2022-02-07 18:45] chardso commented on #147
![Screenshot_20220207-212641_Brave](https://user-images.githubusercontent.com/71114711/152851606-f4ae9ecc-ab04-4a11-9b49-0e0d894ed45e.png)

[2022-02-07 18:46] chardso commented on #147
Data entered by mathew

[2022-02-07 18:47] chardso commented on #147
![Uploading Screenshot_20220207-212641_Brave.png…]()

[2022-02-07 19:15] #147 closed

[2022-02-08 02:51] chardso commented on #154
Assigned myself

[2022-02-08 03:11] chardso opened #171 "Create Profile for ...abui taban rasul"
### Name

Abui taban rasul

### Languages

- English (good) , - madi/lugbara (good),

### Skill 1

Hardware and repair.

### Qualifications for Skill 1

![Uploading IMG_20220207_113830.jpg…]()

### Skill 2

_No response_

### Qualifications for Skill 2

_No response_

### Skill 3

_No response_

### Qualifications for Skill 3

_No response_

### Skill 4

_No response_

### Qualifications for Skill

[2022-02-08 03:13] chardso commented on #171
![Uploading IMG_20220207_113830.jpg…]()

[2022-02-08 12:27] Math-TECH-Hub opened #172 "Sirilo Sanya Morris"
### Name

Sirilo Sanya Morris

### Profile Image

![photo_2022-02-07_13-20-38](https://user-images.githubusercontent.com/57042950/152985755-f94d0e08-7be1-4b08-97f4-fe346788ce7c.jpg)

### Country

Uganda

### Region

Rhino Camp Refugee Settlement, Madi – Okollo District, Arua

### Organisation

_No response_

### Languages

•	English  - Fluent •	Kakwa  -  Fluent •	Arabic   -   Fluent

### Skill 1

[2022-02-08 13:04] dawaedina27 opened #173 "Lumori Clement"
### Name

Lumori Clement

### Profile Image

![Clement](https://user-images.githubusercontent.com/25750606/152990592-b3fc56b9-b368-45a9-b0bc-302a57afc223.jpg)

### Country

Uganda

### Region

Rhino Camp Refugee Settlement.

### Organisation

Save Young Lives Foundation Uganda (SYLFU)

### Languages

1.	 Pojulu – Fluent
2.      Kakwa – Fluent
3.      Juba Arabic – Fluent
4.       English – Fluent

[2022-02-08 13:58] MartinSchott opened #174 "reorder CSV - country, region, hub"

[2022-02-08 14:21] #89 closed

[2022-02-08 14:21] MartinSchott commented on #89
duplicate with #1

[2022-02-08 14:22] MartinSchott commented on #1
screenshot of the current status (in progress)

![grafik](https://user-images.githubusercontent.com/8080649/153005907-5f112951-71b6-4577-bddb-ecc80808ba73.png)

[2022-02-08 16:17] timmwille commented on #16
I've seen it makes sense to use the Team discussion section?

[2022-02-08 17:06] alorogordonpaul opened #175 "Richard gaga"
### Name

Richard gaga

### Profile Image

![FB_IMG_1644339396024](https://user-images.githubusercontent.com/98464956/153037009-5ee4c2e5-eb28-47e3-b067-39c64349cdf7.jpg)

### Country

Uganda

### Region

Rhino Camp

### Organisation

Platform African

### Languages

Bari,Arabic, English, lugbara

### Skill 1

Organizational Development

### Qualifications for Skill 1

certificate
Am a trainer for

[2022-02-08 17:19] alorogordonpaul opened #176 "Sule Susan"
### Name

Sule Susan

### Profile Image

![FB_IMG_1644340129395](https://user-images.githubusercontent.com/98464956/153039089-4bd3d49b-b106-46f9-bfbd-10fc0da38700.jpg)

### Country

Uganda

### Region

Rhino Camp

### Organisation

Platform African

### Languages

Bari,Arabic, English,

### Skill 1

Web & Software

### Qualifications for Skill 1

certificate
I'm  working as journalist with platfor

[2022-02-08 17:36] timmwille commented on #28
Lots of Metadata has changed but as recently requested by @B-yine @maliarich this might still be valid for offline work?

[2022-02-08 17:44] MartinSchott commented on #33
todo:
- [ ] put link to the above wiki link to LEAD Wiki

[2022-02-08 17:45] MartinSchott commented on #1
search bar for all profile data (not only name): https://github.com/ASKnetCommunity/LEAD/issues/66

[2022-02-08 17:55] MartinSchott commented on #146
in templates and in profiles

[2022-02-08 17:58] MartinSchott commented on #142
changed to:

Sustainability & Environment — e.g. SDGs, circular economy, environmental protection, upcycling & recycling
Production & Supply — e.g. agriculture, animal farming, (re)producing goods and market-items, manufacturing business/service, logistics and physical goods management

(will be live with next merge cycle)

[2022-02-08 18:06] timmwille opened #177 "Make filters responsive for mobile use"
connected to #1

[2022-02-08 18:13] timmwille commented on #7
it needs input from us I guess :D → content wise

[2022-02-08 19:09] chardso commented on #174
What is a reorder CSV?

[2022-02-08 20:57] bmen opened #180 "Dawa-Edina-Hillary.md: (<unknown>): did not find expected '-'"
YAML Exception reading /srv/jekyll/_profiles/Dawa-Edina-Hillary.md: (<unknown>): did not find expected '-' indicator while parsing a block collection at line 22 column 3

[2022-02-09 00:46] MartinSchott commented on #1
since https://github.com/ASKnetCommunity/LEAD/issues/177 is a new / own issue, I think this can be closed

[2022-02-09 08:11] DutKulang opened #181 "Create Profile for ... Arthur Kasirye"
### Name

Arthur Kasirye

### Profile Image

![photo_2022-02-09_10-33-24](https://user-images.githubusercontent.com/69721309/153143040-95f8a0a6-0a8b-44cf-b600-d9080db78a08.jpg)

### Country

Uganda

### Region

Kampala

### Organisation

Kasiryelabs

### Languages

English (very Good), Luganda (very good)

### Skill 1

Web & Software

### Qualifications for Skill 1

I have hands on tools experienc

[2022-02-09 08:17] dutandrewkulang commented on #181
he has these skills that i think need to be frame and catogrized
Web Designing & Development
Search Engine Optimisation
ICT Training
Creative Designing (Adobe Suite)
Digital Marketing

Organizational development
ICT
Bsc Business Computing

[2022-02-09 10:28] dutandrewkulang commented on #154
Jonathan wants his profile image changed which i will do i a short while

[2022-02-09 10:44] dutandrewkulang commented on #176
I changed Region to West Nile region

[2022-02-09 11:12] alorogordonpaul commented on #160
Please check out this

[2022-02-10 08:35] chardso opened #183 "Create Profile for tiondi amos madrara"
### Name

Tiondi amos

### Profile Image

![-5771879281079728784_121](https://user-images.githubusercontent.com/71114711/153366908-2e12c10b-da26-4e45-8692-d1bbbfc2d87e.jpg)

### Country

Uganda

### Region

West nile

### Organisation

_No response_

### Languages

- English (good) , - madi/lugbara (good),

### Skill 1

Medical laboratory technician

### Qualifications for Skill 1

Medical laborat

[2022-02-10 13:04] chardso opened #184 "Create Profile for ...Cheku Emmanuel"
![IMG-20220211-WA0001](https://user-images.githubusercontent.com/71114711/153626140-8dd40191-641e-41b3-9bbe-bb9f3a02f742.jpg)
![IMG-20220211-WA0002](https://user-images.githubusercontent.com/71114711/153626150-5206ee65-b097-4139-9cbc-84ce24d0e7a2.jpg)
![IMG-20220211-WA0000](https://user-images.githubusercontent.com/71114711/153626156-49ad4783-193a-40aa-b206-3cd3d9df5147.jpg)
### Name

Emmanuel Ice

[2022-02-10 13:54] MartinSchott commented on #28
Hey @maliarich , regarding the offline version: [here is the current version](https://github.com/ASKnetCommunity/LEAD/wiki/Tutorial-%22New-Profile%22-(for-LEAD-maintainers)) of the file that I (or future technical assistants) create. If you and other data collectors use that template for offline data collection, we would cut out a step in the process. What do you think? I could create a template f

[2022-02-10 16:56] MartinSchott commented on #171
![grafik](https://user-images.githubusercontent.com/8080649/153457086-a015d1f5-2d6f-4018-b2d2-6d6dde3ed664.png)

[2022-02-10 17:23] MartinSchott commented on #174
a CSV is a type of file. It means Comma Separated Values. It is like an excel file, just much simpler.

We have a little script, that generates such a CSV file with the content of all profiles, for a better overview. The task for me was to reorder the columns in that CSV. (the file is here: https://github.com/ASKnetCommunity/LEAD/blob/main/profiles.csv maybe you saw it already...)

[2022-02-10 17:25] MartinSchott commented on #111
it is now in the stage of needing to be verified by the quality team (this step is new)

[2022-02-10 17:26] MartinSchott commented on #7
I guess so too ;)

[2022-02-10 20:49] #136 closed

[2022-02-10 20:49] #180 closed

[2022-02-10 20:49] #1 closed

[2022-02-10 21:02] #174 closed

[2022-02-11 14:13] chardso opened #187 "Create Profile for ...Eriku christopher"
### Name

Eriku christopher

### Languages

- English (good) , - madi/lugbara (good),

### Skill 1

Hardware and repair.

### Qualifications for Skill 1

- Severally with YEF for  community repair cafe

### Skill 2

_No response_

### Qualifications for Skill 2

_No response_

### Skill 3

_No response_

### Qualifications for Skill 3

_No response_

### Skill 4

_No response_

### Qualifications

[2022-02-11 14:14] chardso commented on #187
![Uploading IMG_20220211_170220.jpg…]()

[2022-02-11 14:28] chardso commented on #187
Whatsup number +256771022473

[2022-02-11 14:28] chardso commented on #187
Facebook name :Ojjo richard

[2022-02-11 16:37] Math-TECH-Hub opened #188 "Patrick Kumi"
### Name

Patrick Kumi

### Profile Image

![IMG_20220127_131157_691](https://user-images.githubusercontent.com/57042950/153623146-9635f48f-9dfa-4811-92c5-f84e82ffccd1.jpg)

### Country

Uganda

### Region

Bidibidi Refugee Settlement - Yumbe

### Organisation

SIMILAR GROUND AND WARCHILD HOLLAND

### Languages

1. English - Fluent   2. Kakwa - Good        3. Arabic - Good

### Skill 1

Media & Ar

[2022-02-11 16:50] Math-TECH-Hub opened #189 "Aloro Alex"
### Name

Aloro Alex

### Profile Image

![IMG_20220210_110619_435](https://user-images.githubusercontent.com/57042950/153632366-f830e890-e78d-49fd-883c-8960dbf2eb61.jpg)

### Country

Uganda

### Region

West Nile
### Organization

TEAM RESILIENCE Consultancy Company

### Languages

1- English - Good    2.	 Arabic - Good     3.	 Bari - Good  4. Kakwa - Good    5.	Swahili - Good

### Skill 1

Hard

[2022-02-11 17:14] chardso commented on #156
[Uploading Academic transtript.pdf…]()

[2022-02-11 19:10] chardso opened #190 "Create Profile for ...Eruaga patrick"
### Name

Eruaga patrick

### Profile Image

![IMG_20220211_225345_594](https://user-images.githubusercontent.com/71114711/153661535-c37a20fe-006d-48ea-a192-b258ce5ab6c2.jpg)

### Country

Uganda

### Region

Westnile

### Organisation

YEF

### Languages

Englisg,madi

### Skill 1

hardware and repair

### Qualifications for Skill 1

- severally with YEF for community repair cafe

### Skill 2

_N

[2022-02-11 19:44] chardso opened #191 "Create Profile for ...Maiku santos"
### Name

Maiku santos

### Profile Image

![IMG_20220211_224625_808](https://user-images.githubusercontent.com/71114711/153659637-c890ab6e-c1d2-4384-bb21-054c9ab99ec3.jpg)

### Country

Uganda

### Region

Westnile

### Organisation

YEF

### Languages

Englisg,madi

### Skill 1
Organising a community repair cafe
- learnt skills like,tool keeping,device recording, arrangements/set up,sketching a

[2022-02-12 07:29] DutKulang opened #192 "Create Profile for ...IJOKUA MESELY PETER"
### Name

IJOKUA MESELY PETER

### Profile Image

![photo_2022-02-12_10-20-42](https://user-images.githubusercontent.com/69721309/153701643-1c0f90d7-69cb-402e-82f9-d042ab031c7a.jpg)

### Country

Uganda

### Region

West Nile

### Organisation

YEF

### Languages

English (very Good), Madi (very good)

### Skill 1

_No response_

### Qualifications for Skill 1

_No response_

### Skill 2

_No resp

[2022-02-12 07:30] dutandrewkulang commented on #192
waitng for input from Vuga

[2022-02-12 07:45] romeoplat commented on #191
@timmwille  and @chardso could we please add more info about their description. and please the more the contacts the better, getting a telegram account isn't that hard, and please could we help our people as well to get some of those contact details

[2022-02-12 07:51] romeoplat commented on #85
|Hey, My people have we finally come up with proper verification criteria? or we are yet suggesting @yyenki @maliarich

[2022-02-12 08:37] chardso commented on #191
sawa papa@romeoplat

[2022-02-12 09:36] myamy opened #193 "Logo Colors"
Hub logos are black&white, while BMZ logo is in color. Result which sends a weird message: only color in footer is the black-red-gold flag in the BMZ logo.

Can we use the same rules for all logos? Either all b/w or all color.

[2022-02-12 11:16] romeoplat commented on #193
I guess we should use the colours of the Logos as they are or if that is a bigger Bug then we can rather use white and black

[2022-02-12 11:28] yara89 commented on #110
do you think a library like this :
https://leafletjs.com/index.html

would be useful?

[2022-02-12 11:40] dutandrewkulang commented on #155
can another photo be summited with details like link to facebook or any contact address

[2022-02-14 09:12] Math-TECH-Hub opened #195 "Levi Dedi"
### Name

Levi Dedi

### Profile Image

![Levi](https://user-images.githubusercontent.com/57042950/153832329-671646d8-0144-4060-b005-0adae8d7269d.jpg)

### Country

Uganda

### Region

Rhino Camp Refugee Settlement, Arua- WestNile

### Organisation

Global Rehabilitation and Transformation Response (GRTR)

### Languages

1.	English - good 2.	Arabic - Fluent  3.	Kakwa - Native  4.	Lugbara - good

#

[2022-02-14 18:29] alorogordonpaul opened #197 "Matthew Gita"
### Name

Matthew Gita

### Profile Image

![FB_IMG_1644861673293](https://user-images.githubusercontent.com/98464956/153923257-aa4055bc-7959-4034-ad13-a3a2dcd490f3.jpg)

### Country

Uganda

### Region

Rhino Camp

### Organisation

Platform African

### Languages

Bari,Arabic, English,

### Skill 1

Media & Art —

### Qualifications for Skill 1

certificate
A trainer for graphics

### Skill 2

_

[2022-02-14 20:31] Iamjaiksana opened #198 "Jaiksana Soro"
### Name

Jaiksana Soro

### Profile Image

![_MG_5896](https://user-images.githubusercontent.com/98020899/153938783-5d82f5f5-1d5b-4283-a784-8699b4ef91d3.png)

### Country

Uganda

### Region

Rhino Camp, Uganda

### Organisation

Platform Africa

### Languages

English (Excellent), Bari (Good), Arabic (Fair)

### Skill 1

Community & Moderation

### Qualifications for Skill 1

Certificate in orga

[2022-02-15 12:29] Math-TECH-Hub opened #199 "Kuena James Dak"
### Name

Kuena James Dak

### Profile Image

![FB_IMG_1644863646994](https://user-images.githubusercontent.com/57042950/154059867-d2fab6c8-f00c-41fd-91a0-f6cb2727bccb.jpg)

### Country

South Sudan

### Region

Juba-Central Equatoria State

### Organisation

Youth Social Advocacy Team (Ysat-South Sudan)

### Languages

1. English- fluent    2.  Arabic - Good   3. Nuer - fluent

### Skill 1

Media

[2022-02-15 20:03] dawaedina27 opened #200 "Richard Akim Yuma (Ray Styles)"
### Name

Richard Akim Yuma (Ray Styles)

### Profile Image

![IMG-20220211-WA0007](https://user-images.githubusercontent.com/25750606/154137254-5c28896e-9bfb-4ea2-89d8-edb89b98f87b.jpg)

### Country

Uganda

### Region

Bidibidi refugee Settlement, West Nile

### Organisation

Bidibidi Media Lab

### Languages

 1.  English-good
 2.  Arabic-good
 3.  Kakwa-good

### Skill 1

Media & Art

### Qual

[2022-02-16 07:49] B-yine commented on #200
hi Dawa,
yes the profile Richard is good, however in the part for describe yourself, I think there is not need to include the location, since it have been added.

[2022-02-16 16:09] MartinSchott commented on #177
this is done, I don't know why it wasnt automatially closed with the pull request into `main` ...

[2022-02-16 16:09] #177 closed, assigned to bmen

[2022-02-16 16:15] MartinSchott opened #201 "highlight the contact options in the profile pages"
include "Contact: " before the icons, like also for "language", "region" etc.

make the icons bigger / more visible?

[2022-02-16 18:27] MartinSchott commented on #19
https://github.com/ASKnetCommunity/LEAD/wiki/Add-New-Profile-(for-new-members) done

[2022-02-17 04:59] dawaedina27 commented on #200
Dear Yine,
Thanks for the corrections, let me remove it.

[2022-02-18 10:50] romeoplat commented on #154
This profile is incomplete and no evidence of proof of the profile holder as a Web designer. are there links that prove some of his work??? @chardso @MartinSchott @yyenki what do you think?

[2022-02-18 10:52] romeoplat commented on #77
And can we re work on the basic grammar describing @vugawilliam 'S AMAZING WORK

[2022-02-18 11:46] dutandrewkulang commented on #199
men!!! can another another profile pic by sent in

[2022-02-18 12:42] chardso commented on #154
[](http://www.g2gmusics.com)

[2022-02-18 18:25] chardso commented on #154
It has the proof of wat he was working on

[2022-02-18 19:17] MartinSchott commented on #111
the new information is online!

[2022-02-18 19:17] #111 closed

[2022-02-18 20:03] MartinSchott commented on #154
Hey @romeoplat and @chardso ,

my humble opinion:

I think for the Diploma in Computer Science it should include from where he got it (a university probably?) and also the same for the certificate in data science.

And thanks for the link Wafela, that's great to have a tangible proof. In this case I think it should include a few words, e.g. did he build the website? Or did he produce some of the m

[2022-02-19 04:18] romeoplat commented on #197
Upload some of his designs or art work

[2022-02-19 22:51] chardso commented on #158
I suggest a photo during his tech boot camp used,to prove that indeed he attended.

[2022-02-20 21:18] romeoplat commented on #195
I just updated the description of Levi, from a long and unstraight story to something a little straight. @chardso please check it so we can transfer the profile to the next column

@dawaedina27 do you wanna check out his skills if they are correct, or if anyone has proof of a link or photo for his work.
@dutandrewkulang you could come in as well then we transfer the profile @timmwille

[2022-02-20 21:20] romeoplat commented on #195
And can someone rather help me with a better photo of Levi the photo present is more of a work-on-progress pic this can depict his work, but let him send us some better photos? @Math-TECH-Hub @timmwille @maliarich @dawaedina27

[2022-02-20 21:42] romeoplat commented on #77
Just edited the |Description of @vugawilliam , @chardso @timmwille anyone can jump in and check up as well as we try to get this profile to the verified column

[2022-02-20 21:49] chardso commented on #195
Good description, and truely the pic shows his concentration at work,which is good,but however there is need for another pic showing his face to the viewers, to my own perspective, the next pic should just be send in this comment box,and this particular one reserved somewhere in the lead as it speaks of his work.otherwise good to go.

[2022-02-20 22:06] chardso commented on #77
There is Vuga willy and Vuga William, and there is also Vuga William ,28years and Vuga William 35year,which one is the true age? Other wise the descriptions are all good ,detailed and some of us have seen practically in the field.verify age and which description and push.

[2022-02-20 22:17] chardso commented on #77
Ooh sorry he has been a refugee for 28years not 28yrs old,pole papa.

[2022-02-20 22:28] chardso commented on #152
Edited this profiles description, @romeoplat and the rest cross check.

[2022-02-20 22:47] chardso commented on #161
The description here is too short,please members help,I think age ,current place of residence,maybe district,and if a refugee ,from which settlement and simplify prycho socialist, if not spelling error.may add weight to your description @alorogordonpaul  ,can you be of help?

[2022-02-20 22:56] chardso commented on #197
@romeoplat don't you think age should be part of the description?

[2022-02-20 23:03] chardso commented on #191
Still in touch with profile about the issue of email and telegram,soon to be added.

[2022-02-21 02:54] maliarich commented on #195
Hi @romeoplat,
@Math-TECH-Hub can finish his profiling of Levi, request for 1-2 more pics and you select the better option.

Secondly, he's on telegram, why live that space  empty? .. I am sure the same WhatsApp number, works for the telegram :)

[2022-02-21 04:10] romeoplat commented on #195
Yeah sure.

[2022-02-21 06:38] B-yine commented on #195
skill 1 need some editing in spellings

[2022-02-21 07:02] B-yine commented on #197
I personally think Mathew still have alot that is missing in the profile, like the skills  and qualification.

[2022-02-21 12:02] yyenki commented on #154
@MartinSchott @romeoplat @chardso @timmwille
**Food for thought!!**
Despite the certificates that can be provided as proof, if feel we should focus more on tangible work done by the expert we want to profile. There is a general challenge of forgery of academic certificates across the region, we shouldn't find ourselves having a database of experts that we can't prove their work or certificates.

[2022-02-22 16:50] MartinSchott commented on #139
profile is online!

btw, is it on purpose that the phone and whatsapp numbers are different @romeoplat ?

[2022-02-22 17:01] MartinSchott commented on #154
@yyenki
yes I agree! It is important to find a way for experts that didn't learn their skills through university / certificates.

The challenge is then, how can we have a certain degree of "standardization" in how the tangible work examples are presented? I think that would be necessary, so that the data quality team has it not too difficult to decide.

My proposal would be: select 3-5 best practi

[2022-02-22 19:17] MartinSchott commented on #193
I initially used black&white for all logos because it is more "calm" and aesthetic (in my opinion) for the eye, in contrast to the many different colors of all the logos. Then the logo of BMZ seemed to loose some important part when done in black&white. But I see your point, it could be interpreted as "more important".
→ So I changed all logos to black&white.
changing all to color would also be po

[2022-02-22 20:41] #201 closed

[2022-02-22 20:42] #193 closed

[2022-02-22 20:57] timmwille commented on #86
please change to a more general text like `Expert in Uganda` for now → the regions will change a bit as in discussion @yyenki @romeoplat @maliarich

[2022-02-22 21:28] bmen commented on #28
I think this helps a lot to preview what is the current state of the form:
https://github.com/ASKnetCommunity/LEAD/blob/main/.github/ISSUE_TEMPLATE/new-profile.yml

[2022-02-22 21:31] bmen commented on #28
@myamy @maliarich @Math-TECH-Hub @dawaedina27 if you think this helps enough you can close the issue

[2022-02-22 21:44] MartinSchott commented on #52
we have 27 profiles online now, and many many more are in the pipeline. So - goal achieved!

@timmwille @intertwilight

[2022-02-22 21:44] #52 closed

[2022-02-23 04:36] yara89 commented on #141
@bmen what is mean by revising hub references? Please clarify by an example, and how it can be revised by me?

[2022-02-24 07:55] #86 closed

[2022-02-24 10:34] yyenki commented on #154
@MartinSchott @romeoplat @Iamjaiksana @timmwille
**Here is my proposal of how we can verify or check for quality for experts to be part of LEAD.**

1. We should be able to provide links to their work online (Facebook, Twitter, Instagram, YouTube or website) and that can work as our proof of their skill set. In this case, for example, profiles for Romeo or Ladu could be linked to all their respecti

[2022-02-24 12:57] yyenki commented on #154
@MartinSchott @romeoplat @timmwille @maliarich

**Another Addition and I need your thoughts on this**

On all the profiles, including mine, I feel under **Describe Yourself** - we need something catchy and attractive like a bio to the public. I was suggesting something like the below, for example, take my bio, some time back where I tried as much as possible to reflect all that I have been involve

[2022-02-24 15:18] MartinSchott commented on #156
@chardso unfortunately the upload didn't work...

[2022-02-24 16:37] MartinSchott commented on #19
https://github.com/ASKnetCommunity/LEAD/wiki/Change-Existing-Profile done

[2022-02-24 16:40] #19 closed

[2022-02-24 17:59] timmwille commented on #162
@ASKnetCommunity/data-collectors would be good if you could check and link the right Social media Profiles or @GhaiTong you can link them yourself

[2022-02-24 18:11] timmwille commented on #77
So how is the status on this Profile?

[2022-02-24 18:44] chardso commented on #156
[Uploading Academic.transtript.pdf…]()

[2022-02-24 18:48] chardso commented on #156
![Uploading Screenshot_20220224-214623_MuPDF_viewer.png…]()

[2022-02-24 18:55] timmwille commented on #154
@B-yine I would have missed this very important comment here but @MartinSchott pointed me here. → maybe you can copy paste (via "edit") this as another comment into this issue discussion here?:
https://github.com/ASKnetCommunity/LEAD/issues/85

[2022-02-24 18:57] chardso commented on #156
[Uploading Academic transtript.pdf…]()

[2022-02-24 19:00] chardso commented on #156
[Academic transtript.pdf](https://github.com/ASKnetCommunity/LEAD/files/8135078/Academic.transtript.pdf)

[2022-02-24 19:02] chardso commented on #156
![Academic transtript.pdf](https://github.com/ASKnetCommunity/LEAD/files/8135078/Academic.transtript.pdf)

[2022-02-24 19:08] chardso commented on #77
I would say its done,but maybe detailed consultation be done in the meeting tomorrow.

[2022-02-25 06:55] yyenki commented on #85
@MartinSchott @romeoplat @Iamjaiksana @timmwille
**Here is my proposal of how we can verify or check for quality for experts to be part of LEAD.**

1. We should be able to provide links to their work online (Facebook, Twitter, Instagram, YouTube or website) and that can work as our proof of their skill set. In this case, for example, profiles for Romeo or Ladu could be linked to all their respecti

[2022-02-25 06:56] yyenki commented on #154
@timmwille Done! It has been added to issue #85

[2022-02-25 07:27] chardso commented on #154
Could it be something like this;
https://github.com/chardso/an-fm-radio-transmitter

[2022-02-25 20:40] dawaedina27 opened #207 "Inyaa Beatrice"
### Name

Inyaa Beatrice

### Profile Image

![IMG-20220225-WA0040](https://user-images.githubusercontent.com/25750606/155786621-f45c3f87-98b0-49fc-a51d-300aa0cfcfab.jpg)

### Country

Uganda

### Region

West Nile

### Organisation
CC4D

### Languages

1. English (Fluent - spoken and written)
3. Arabic (good - spoken only)
4. Madi (very good - spoken and written)
5. Lugbara (good spoken only)

##

[2022-02-26 11:57] Ira13637 opened #208 "Create Profile for ...KADE ZAINAB YUNUS"
### Name

KADE  ZAINAB YUNUS

### Profile Image

![FB_IMG_1645686517715](https://user-images.githubusercontent.com/77249022/155841507-dfd42e1e-9928-44af-aa87-f52a63cb6a0c.jpg)

### Country

Uganda

### Region

West Nile

### Organisation

Youth Empowerment Foundation

### Languages

English (very good), Ma'di ( very good) Kuku (good)

### Skill 1

Community & Moderation

### Qualifications for Ski

[2022-02-27 12:54] dutandrewkulang commented on #77
made some edits on Williams profile basically correcting region and fixing gramma

[2022-02-27 13:02] dutandrewkulang commented on #75
her description of  herself sounds like a autoboigraphy, should it include things like date of birth, education history? i feel Mugu has to explain  for her how and what a description of self means

[2022-02-27 13:04] dutandrewkulang commented on #75
can we get her facebook link or any other social media link

[2022-02-27 13:15] dutandrewkulang commented on #78
i sent Dorren a message asking an update on description, links to her social media profiles

[2022-02-27 15:26] dawaedina27 opened #209 "Sida Lillian"
### Name

Sida Lillian

### Profile Image

![16459755660183964432843010466551](https://user-images.githubusercontent.com/25750606/155888600-93f731e7-ddd5-4597-bf03-8d41e0d491f7.jpg)

### Country

Uganda

### Region

Rhino camp, West Nile

### Organisation

_No response_

### Languages

1. English (Fluent spoken and written) 2. Bari/Kakwa (Fluent spoken and spoken) 3. Arabic (good spoken only) 4. L

[2022-02-27 18:03] chardso commented on #85
And there are some who have experience in work but ,they do not document their work do to circumstances unknown to us but physically on ground they skill can be accessed.
How shall we help these ones out? Giving an example of myself I wasn't documenting my work,had no link for my activities,it was until I got to #ASKnet , acquired a skill and now have some of my work documented.
It's just a sugges

[2022-02-28 05:11] chardso commented on #145
The description is full of wat she passed through,I mean history .

[2022-02-28 07:29] yyenki commented on #85
@Chardso That's where the hub comes in.
Please refer to Point two on how to verify a user.

[2022-02-28 22:02] Math-TECH-Hub opened #210 "Esther Keji"
### Name

Esther Keji

### Profile Image

![esther](https://user-images.githubusercontent.com/57042950/156061078-cabe0cdb-132e-447c-8f64-c01133fc91fc.jpg)

### Country

South Sudan

### Region

Juba-Central Equatoria State

### Organisation

CC4D (#ASKnet 2018 Participant)

### Languages

1. English (Fluent both written and spoken)
2. Arabic(Good both Written and spoken),
3. Kakwa(Native)

### Ski

[2022-02-28 22:59] Math-TECH-Hub opened #211 "Duku Friday"
### Name

Duku Friday

### Profile Image

![duku](https://user-images.githubusercontent.com/57042950/156066437-635bbce2-aaea-4311-99c5-5e8ec70d89ea.jpg)

### Country

South Sudan

### Region

Yei, South Sudan

### Organisation

Women Advancement National Non-Governmental Organisation

### Languages

1.	English Fluent 2.	Arabic Good 3.	Kakwa Good   4.	Kiswahili Good  5.	Bari Good

### Skill 1

Web

[2022-02-28 23:29] dawaedina27 commented on #210
Dear Team Members
I have a challenge, I uploaded some experts profiles using Mathew's github account instead of mine. Is there a way of linking it to my account or let me just *assign* myself to the misplaced profiles🤔
@yyenki @romeoplat

[2022-03-01 11:58] sunday767 opened #212 "Mr"
### Name

Bartholomew Majak Kot

### Profile Image

![IMG-20220228-WA0012](https://user-images.githubusercontent.com/56921007/156164595-21d84f58-9de0-44c8-98ad-915e87473e14.jpg)

### Country

South Sudan

### Region

Juba

### Organisation

Gogirlsict

### Languages

English, Dinka, Arabic

### Skill 1

Web development, Security engineer, software developer

### Qualifications for Skill 1

_No res

[2022-03-02 14:58] sunday767 opened #213 "Nunas Eluzai"
### Name

Nunas Eluzai Manasseh

### Profile Image

![IMG-20220301-WA0007](https://user-images.githubusercontent.com/56921007/156385054-7c49f0fe-4b15-4e73-9759-581e3fb1c0a9.jpg)

### Country

South Sudan

### Region

Juba

### Organisation

Gogirlsict

### Languages

English, and  Arabic

### Skill 1

web and software

### Qualifications for Skill 1

i have a bachelor degree in computer science. w

[2022-03-03 13:44] MartinSchott commented on #213
old issue here: https://github.com/ASKnetCommunity/LEAD/issues/75 seems to me that the old one can be closed as this one is more complete

[2022-03-03 13:45] MartinSchott commented on #75
new issue here: https://github.com/ASKnetCommunity/LEAD/issues/213 which one has the current / the most actual information? @maliarich @sunday767

[2022-03-03 13:48] maliarich commented on #75
She agreed on this current one @MartinSchott

[2022-03-03 13:49] maliarich commented on #75
It's Nunas not Sunday :)

[2022-03-03 13:53] MartinSchott commented on #75
@maliarich thanks :) yes, but Sunday opened the second issue for her, so I wanted her to be aware that one is existing already :)

[2022-03-03 14:21] timmwille opened #214 "Yaro Manyang Mawel"
She needs to enter her full data, as there is no data as of yet. Link to the form: [here](https://github.com/ASKnetCommunity/LEAD/issues/new?assignees=&labels=Profile&template=new-profile.yml&title=Create+Profile+for+...)

[2022-03-03 14:23] timmwille commented on #109
only Yaro would be good to have #214 but need extra issue solving via @ASKnetCommunity/data-collectors

[2022-03-03 14:30] #109 closed

[2022-03-03 14:43] timmwille commented on #77
so I can see this is now verified @ASKnetCommunity/coordinators and I will ping @MartinSchott to add this final edit :) thx a lot!

[2022-03-03 15:05] MartinSchott commented on #77
is uploaded in `content` branch, but needs to be pulled to `main` branch

[2022-03-03 15:07] #77 closed

[2022-03-03 15:07] timmwille commented on #77
ok we close this as it will join the main branch soon

[2022-03-03 15:51] timmwille opened #215 "Make search query visible in URL/to send a defined filterset via link"

[2022-03-03 15:57] timmwille commented on #28
solved for now

[2022-03-03 15:57] #28 closed

[2022-03-03 16:32] dawaedina27 opened #216 "Seme Ludanga Faustino"
### Name

Seme Ludanga Faustino

### Profile Image
![seme2](https://user-images.githubusercontent.com/25750606/156622244-360f1d72-3a71-408b-82c5-d76f4bec4189.jpg)

### Country

Uganda

### Region

Bidibidi, West Nile

### Organisation

Eagle's Wing Computer Center (#ASKnet 2018 Trainee, CTEN)

### Languages

1. English – fluent
2. Juba Arabic – fluent
3. Kakwa – fluent
4. Bari – good

### Skill 1

[2022-03-03 16:39] MartinSchott opened #217 "can the `profiles.csv` be generated through GitHub Actions?"
either in regular intervals (e.g. daily) or - even better - each time the `main` branch is changed

[2022-03-03 16:49] MartinSchott opened #218 "Create wiki start page for LEAD"

[2022-03-03 19:26] chardso commented on #154
Wrote to Jonathan to sent the institution or university where he attained his diploma in computer science.

[2022-03-03 20:24] hoijui commented on #217
yes!
easy, if you already have the script.
that is about the simplest thing you can do with GH actions, and what is done most often as well.
look for example at the `[.github/workflows](https://github.com/hoijui/projvar/tree/master/.github/workflows)` folder in projvar.
and feel free to ask for more info if you need help.

[2022-03-04 07:22] Ira13637 opened #220 "Create Profile for ...Alia Rose"
### Name

Alia Rose

### Profile Image

![IMG_20211208_153239_841](https://user-images.githubusercontent.com/77249022/156714286-0d10e787-0755-4ed5-8c04-14469639c652.jpg)

### Country

Uganda

### Region

Pagirinya refugee settlement, Adjumani

### Organisation

Youth Empowerment Foundation

### Languages

Ma'di, Kuku, Arabic, and English

### Skill 1

community & Moderation

### Qualifications for

[2022-03-04 07:32] sunday767 opened #221 "Analiza Arkangelo"
### Name

Analiza Arkangelo

### Profile Image

![IMG-20220303-WA0004](https://user-images.githubusercontent.com/56921007/156714589-ffd3d552-e97f-4b18-a18c-405e3e4e96ce.jpg)

### Country

South Sudan

### Region

Juba

### Organisation

Gogirlsict

### Languages

English, Arabic and Ndogo

### Skill 1

Managing information and basic database

### Qualifications for Skill 1

A bachelor degree in in

[2022-03-04 09:08] hoijui commented on #217
you will only need the build.yml file, and you can delete most of it, and just add the calling of the script

[2022-03-04 09:09] hoijui commented on #217
if it takes you too long (more then 1h), write again.

[2022-03-04 17:06] Math-TECH-Hub opened #222 "Stephen Manikese Joshua"
### Name

Stephen Manikese Joshua

### Profile Image

![Steven](https://user-images.githubusercontent.com/57042950/156806726-21a394b1-3ddd-49b7-993b-e74cfd1d97d3.jpg)

### Country

South Sudan

### Region

Central Equatoria State

### Organisation

_No response_

### Languages

1.  English : fluent (written and spoken)

2. Juba  Arabic: good (spoken)

3. Lingala: (written and spoken)

### Skill 1

[2022-03-04 17:50] chardso commented on #154
Anyanzo Jonathan got his diploma of computer science at African institute of strategic management and capacity building affiliated to Cavendish university.

[2022-03-05 09:32] GhaiTong opened #223 "Create Profile for John Bior"
### Name

John Bior Ajang

### Profile Image

![FB_IMG_1646429108303](https://user-images.githubusercontent.com/56925203/156876507-8b45c0ef-85d6-40dc-bb66-69b03539b738.jpg)

### Country

South Sudan

### Region

Bor

### Organisation

ATAKA HUB SOUTH SUDAN

### Languages

English (excellent at spoken and written), Arabic( Excellent at spoken only) Kiswahili (Excellent at spoken and written), Dinka

[2022-03-06 11:09] GhaiTong opened #224 "Create Profile for Yaro Manyang"
### Name

Yar Manyang Mawel

### Profile Image

![Screenshot_20220306-134446](https://user-images.githubusercontent.com/56925203/156920122-514ae57e-bfaf-4ef3-807a-23349e270fcb.png)

### Country

South Sudan

### Region

Bor

### Organisation

ATAKA HUB South Sudan

### Languages

English (Excellent), Arabic(good), Dinka (Excellent)

### Skill 1

Media and art

### Qualifications for Skill 1

_No r

[2022-03-06 11:27] GhaiTong commented on #162
https://twitter.com/GhaiTong
Twitter

[2022-03-07 09:46] GhaiTong opened #225 "Create Profile for Bol Deng"
### Name

Bol Deng Bol

### Profile Image

![FB_IMG_1646645368259](https://user-images.githubusercontent.com/56925203/157004711-06559fd5-3a50-4157-8d79-972185bbe6ab.jpg)

### Country

South Sudan

### Region

Bor, Jonglei State

### Organisation

Jonglei Civil Society Network

### Languages

English (excellent at spoken and written), Arabic( Excellent at spoken only) Kiswahili (Excellent at spoken

[2022-03-08 08:51] sunday767 opened #226 "Harriet Gune"
### Name

Harriet Gune millimon

### Profile Image

![IMG-20220307-WA0000](https://user-images.githubusercontent.com/56921007/157197212-d8c811d2-1cbc-4999-a427-655e3f3760a7.jpg)

### Country

South Sudan

### Region

Juba

### Organisation

Gogirlsict

### Languages

English,  kuku and juba Arabic

### Skill 1

Skills in information technology staff

### Qualifications for Skill 1

Diploma in info

[2022-03-09 15:22] GhaiTong commented on #162
@timmwille, I have already linked everything needed.

[2022-03-10 14:55] timmwille commented on #162
I would take the bold statement that this is now veryfied right @ASKnetCommunity/coordinators ? so @MartinSchott you can add the profile

[2022-03-10 15:12] MartinSchott commented on #162
it's uploaded and will be online shortly,

[2022-03-10 15:12] #162 closed

[2022-03-10 16:12] timmwille commented on #213
this might still be relevant: https://github.com/ASKnetCommunity/LEAD/issues/75#issuecomment-1017810670

[2022-03-10 16:15] #75 closed

[2022-03-10 16:18] MartinSchott commented on #213
shall I keep the two images that are in there already? https://lead.asknet.community/profiles/Nunas-Eluzai-Manasseh/ I would recommend it. If you want I can add the one posted above.

[2022-03-10 16:23] timmwille commented on #126
this is linked to #91

[2022-03-10 16:27] MartinSchott commented on #213
uploaded the new updates

[2022-03-10 16:27] timmwille commented on #126
@GhaiTong might be able to help as Bior is not available?

[2022-03-10 16:31] timmwille commented on #213
great then I think this can be verified?

[2022-03-10 16:37] timmwille commented on #126
@MartinSchott → ATAKA Hub

[2022-03-10 16:40] timmwille commented on #130
@dawaedina27 I think for Skill 2 would be nice to have a picture or some form of verification/ "proof of experience" but I think in terms of all the info above we can set you on `verified` :) hope that is alright @ASKnetCommunity/coordinators

[2022-03-10 16:43] MartinSchott commented on #130
info is online → issue closed

[2022-03-10 16:47] timmwille commented on #131
ok I think this fullfills the `verified` criteria and can be closed please double check @ASKnetCommunity/coordinators

though I still think in terms of adding value you could add some reference URLs to repositories etc. for "proof of experience" or a picture from 2019 Open Tech Documentation in Adjumani training and 2020 GitHub Training etc.

[2022-03-10 17:16] timmwille commented on #138
for the media and art skillset it would be nice to have a reference link to any output you realised, is it published somewhere?
Also the description is quite short, but up to you @mawarose

In any case the profile looks alright to me and can be marked as `verified` → please correct me if I'm mistaken @ASKnetCommunity/coordinators

[2022-03-10 17:25] timmwille commented on #140
I think this profile still needs input for Reference URLs in terms of Publications, GitHub, Wikifab as there might be many for "proof of experience" so for now not verified? @ASKnetCommunity/coordinators

I'll put this on `waiting for input` @yyenki

[2022-03-10 17:28] timmwille commented on #144
I think this also needs some attention in terms of some reference URLs or pictures for "Proof of experience" @ASKnetCommunity/coordinators @ASKnetCommunity/data-collectors

[2022-03-10 17:36] timmwille commented on #223
apart from your Pixelfed Profile and your Wikifab Account I think this is quite complete. Some URLs as reference would also be nice but for now optional I'll mark it as `verified`

[2022-03-10 17:41] timmwille commented on #224
@ASKnetCommunity/data-collectors I think the reference part for the skills could be much improved as "Proof of expertise/experience" for Yaro but in general looks good for `Profile-Review`

[2022-03-10 17:45] timmwille commented on #145
that is true @chardso just in case someone looks only for the "proof of expertise/experience" in the Skillset only then this might be a bit less then what is needed. Just some pictures embedded or a URL to a Work published etc. would make things a lot more clear

But it is ok, I'll put it on `verified` for now @MartinSchott | please feel free to correct @ASKnetCommunity/coordinators

[2022-03-10 17:48] timmwille commented on #92
the profile is not up to date, I'll take it down for now
[Gama](https://lead.asknet.community/profiles/Richard-Gama/)

Please follow up with him and open a new profile issue for him @ASKnetCommunity/coordinators

[2022-03-10 17:48] #92 closed

[2022-03-10 17:50] MartinSchott commented on #145
uploaded the recent updates

[2022-03-10 17:50] timmwille commented on #92
@dutandrewkulang please be careful to mark a checklist when not reflected on the website or you personally made sure everything is up to date/verified

[2022-03-10 17:52] timmwille commented on #74
@maliarich this is not up to date so I'll take down the profile until a new profile issue or this one with all info reopened appears @ASKnetCommunity/data-collectors

[2022-03-10 17:52] #131 closed

[2022-03-10 17:54] timmwille commented on #141
@yara89 your pull request was merged, so all is good now? then I think we can close this issue

[2022-03-10 17:54] #141 closed

[2022-03-10 17:56] MartinSchott commented on #138
current information is uploaded →closing issue.

please notify if any changes shall be made

[2022-03-10 17:56] #138 closed

[2022-03-10 18:08] MartinSchott commented on #223
I couldnt find the instagram profile. Can somebody provide me with a link (complete URL) to the instagram profile? Or we leave it out if it's not so important @GhaiTong

[2022-03-10 18:08] MartinSchott commented on #223
apart from that all infos are uploaded

[2022-03-10 18:13] chardso commented on #154
Ooh my God ,I kept updates in the comments,I will transfer them the profile add some flavour with new updates,thanks @timmwille  and @MartinSchott .

[2022-03-10 18:21] dutandrewkulang commented on #92
Ok

[2022-03-10 18:44] timmwille commented on #144
this might help https://18.re-publica.com/en/member/13915

@yaievy I follow your wish we take it down for now until you find time to add/correct the profile info or open a new issue form
https://github.com/ASKnetCommunity/LEAD/issues/new/choose

also marked as `Profile-Review` and `Waiting for input`

[2022-03-10 18:45] timmwille commented on #198
@MartinSchott you might want to add his YouTube channel as it is the best "Media & Art" Reference for "Proof of Expertise" :)

[2022-03-10 18:52] MartinSchott commented on #198
uploaded, but just the first two skills, as the 3rd and 4th are still missing proof of expertise

[2022-03-10 19:05] timmwille commented on #214
Oh this one is already tackled in #224 thx @GhaiTong

[2022-03-10 19:05] #214 closed

[2022-03-10 19:23] timmwille commented on #226
@sunday767 is this an actual profile? the lable is missing but also some relevant info as well

[2022-03-10 19:25] #96 closed

[2022-03-10 19:25] #145 closed

[2022-03-10 19:25] #213 closed

[2022-03-10 19:25] #104 closed

[2022-03-10 19:25] #223 closed

[2022-03-10 19:48] timmwille commented on #16
technically this is ready though most of the communication currently through Telegram:
https://github.com/ASKnetCommunity/ASKnet.Community/discussions/categories/lead

[2022-03-10 19:49] timmwille commented on #16
this can be closed for now, activation is a different task

[2022-03-10 19:49] #16 closed

[2022-03-10 20:12] MartinSchott commented on #217
@hoijui
Thanks so much, I got it to work! Thats really cool ;) 👍

[2022-03-10 20:12] #217 closed

[2022-03-10 21:25] bmen opened #229 "How to import profile"

[2022-03-10 21:26] bmen opened #230 "How to change issue templates"

[2022-03-10 21:27] bmen opened #231 "Link Explanation of the Git Workflow HowTo"
https://github.com/ASKnetCommunity/LEAD/wiki

[2022-03-11 07:01] hoijui commented on #217
Congraaaatz @MartinSchott ! :-)

[2022-03-11 10:59] Biorology commented on #223
Am also a mentor I do career guidance for students and mentorship. Thanks
@biorajang9 on Twitter
@Bior Ajang Jaden Biorology on Linkin
@John Bior Ajang on telegram

Thanks

[2022-03-11 15:42] sunday767 opened #232 "Jurua Sunday"
### Name

Jurua Sunday Jacob

### Profile Image
![IMG-20220310-WA0006.jpg](https://user-images.githubusercontent.com/56921007/157901599-8f10ac08-a529-431f-a07b-4ffb2d2f7640.jpg)

### Country

South Sudan

### Region

Juba

### Organisation

Gogirlsict

### Languages

English, Arabic and madi

### Skill 1

Skill in networking and data management

### Qualifications for Skill 1

Diploma in informati

[2022-03-12 11:51] sunday767 commented on #226
I will add same of information today.
    Since she is going to send for me

[2022-03-12 11:56] sunday767 commented on #226
The information she give is incomplete.
  But I meet her same hours back.
   And she gave me the full information.
      So I will edit it later

Sunday Guido Elias

On Thu, Mar 10, 2022, 9:23 PM Timm ***@***.***> wrote:

[2022-03-13 10:03] Math-TECH-Hub opened #233 "Amos Mandela Emmanuel"
### Name

Amos Mandela Emmanuel

### Profile Image

![AMOS L](https://user-images.githubusercontent.com/57042950/158053879-ecc4bef3-a335-4ce4-84b1-412b67a6be13.jpg)

### Country

South Sudan

### Region

Juba-Central Equatoria State

### Organisation

_No response_

### Languages

1. English-Good     2.	 Arabic-Fair         3.	 Kakwa-fluent

### Skill 1

Web & Software

### Qualifications for Skil

[2022-03-13 21:46] chardso commented on #198
I would say this is done,as the two skills explains what jakisana does.

[2022-03-13 21:51] chardso commented on #105
But I think members within the data collection should come forward,and clear their details for their profiles to get complete.

[2022-03-13 22:04] chardso commented on #125
I have been following this @maliarich  but ur response is over due . what's up?

[2022-03-13 22:28] chardso commented on #126
Ooh this reminds me of not seeing the documention of repair cafe we had during track two training,anyone with clue can help and fix the link on Ayom's details.

[2022-03-13 22:33] chardso commented on #140
@yyenki your response to this will make our progress count.

[2022-03-13 22:39] chardso commented on #144
I think this awaits @yaievy confirmation and it's done.

[2022-03-14 04:47] maliarich commented on #125
Hi @timmwille
Help me upload the certificates, I did some slight changes.

[2022-03-14 04:57] maliarich commented on #125
@chardso I had been involved in series of trainings from the past 1/2 months upto today where i have limited access to power and good internet ( can't open links )
I am in Arua today but had to go back today 😁 for the lab mobile tour in the camp for the whole week +
 @chardso  feel free to remind me through direct phone calls sometimes
Cheers.

[2022-03-16 09:46] dutandrewkulang commented on #144
very good @chardso

[2022-03-16 15:15] romeoplat commented on #144
yeah sure!

[2022-03-17 15:17] timmwille commented on #105
they might need a call via one of the @ASKnetCommunity/data-collectors

lets continue via #70 again!

[2022-03-17 15:17] #105 closed

[2022-03-17 15:25] timmwille commented on #125
@maliarich any online material you would like to link here? for Upload contact me via Chat again, I might have missed this somewhere?

in best case also reference repositories or even Facebook or Telegram news you shared or other reference URLs to link where one can see some material/action

[2022-03-17 15:40] maliarich commented on #125
Okay. @timmwille

[2022-03-17 16:20] timmwille commented on #218
![grafik](https://user-images.githubusercontent.com/8081055/158845964-0856c338-41cb-4da4-8cc2-8b2243b52a44.png)

[2022-03-17 17:20] timmwille commented on #218
# L.E.A.D - Local Expert Action Directory

## How to navigate
1.  `Add a profile` | `About #ASKnet` - Main Website - Who we are, values an mission | `GitHub Repository`
2. Filter and Search - Check out your Peers - [HowTo make good use of the filter and name search](#)
## Contribute
### Tutorials for our Peers
- HowTo add/update a Profile
- HowTo use the filter and name search
- HowTo navigate a P

[2022-03-18 09:14] Ira13637 commented on #70
Add; skill 2 : Community & Moderation
Qualification for skills 2:  Organization of successful events ( workshops, skits in public gatherings, and school debates) under defyhatenow projects in various refugee settlements and also the campaign against teenage pregnancy in Pagirinya refugee settlement under #ASKnet projects.

Add; Skill 3: Sustainability & Environment.

Qualification:  Actively parti

[2022-03-22 14:23] romeoplat commented on #78
Hey Guys anyone has contacted Bazio, or i can rewrite her description and we get it out of the way

[2022-03-22 14:24] romeoplat commented on #78
@chardso @vugawilliam please help confirm this

[2022-03-22 14:39] dutandrewkulang commented on #78
she was like let her account be removed, i called her on phone

[2022-03-22 14:40] romeoplat commented on #152
Hey could someone collect the links that could affirm Amanyara's work please
@chardso @vugawilliam

[2022-03-22 15:04] PyGamma opened #234 "Profile of Gama Richard William"
### Name

Gama Richard William

### Profile Image

![Gama](https://user-images.githubusercontent.com/38918594/159512987-a751c74d-7d5c-4f82-8b09-d2faef0bc1cf.jpg)

### Country

South Sudan

### Region

Pagirinya Refugee Settlement

### Organisation

_No response_

### Languages

English(Very Good), Ma'di Language(Very Good), Local Arabic(Basics)

### Skill 1

Web & Software

### Qualifications for

[2022-03-22 19:02] vugawilliam commented on #78
She is too stressed, she is writing her exams, I think this doesn't favour
her. Let's give keep her hold. Not necessary to remove her.

On Tue, Mar 22, 2022, 3:47 PM Chardso ***@***.***> wrote:

[2022-03-22 20:58] maliarich commented on #157
@chardso When collecting  data from experts, I would suggest we really have to try as much as possible to get people within the #ASKnet related activities ... otherwise having an expert with stronger connection to health services calls for disqualification as it's not really falling under related activities .... he'll need an extra effort to fit in the team.

[2022-03-22 21:44] timmwille commented on #157
Though in the context of GIG and GOSH `Science & Research` might be helpful and we change `Data Security & Research` to `Data Security & Analysis` as mentioned by Gama in #234 ? :)

[2022-03-23 00:59] chardso commented on #157
Q

So there is no science related activity in #ASKnet y mean,is Asksek not from #Asknet? Or initiated by a member of #Asknet ?if so then a science fits in #Asnet,but however arguing your  point,the particular person we are talking of knows ASKnet and some activities carried out in ASKnet .
 However being apilot doesn't mean your only restricted to flying an aeroplane,this time people are dyanamic,

[2022-03-23 03:31] maliarich commented on #157
Can I  say you didn't read well / understand the
 point of #ASKsek project ?... Well, the hub provides a practical tools and materials just like Go-girlsICT initiated go-sanitizers but not their field of skills/focus it's the  " how to make/use  it "  and  neither is the #ASKsek from Bior. He could be a better fit if he develops or maintain / repair lab tools and materials ( the innovation part of

[2022-03-23 05:08] romeoplat commented on #157
That's very true @maliarich #ASknet as a project is to enable hubs to do what they think can be ways to solve local issues in their communities, but the methodologies of that should be limited to either media, ICT literacy, or by providing soft and hardware resources to enable such issues to be solved.

For the case of ASKsek, Bior developed a resource tool, but he doesn't do the practicals, it's

[2022-03-27 07:38] sunday767 opened #239 "Sunday Stephen"
### Name

Sunday Stephen

### Profile Image

![IMG_20220327_084845_393](https://user-images.githubusercontent.com/56921007/160271393-9d123dfa-e255-461f-a655-d82817756c17.JPG)

### Country

South Sudan

### Region

Central Equatoria juba

### Organisation

Gogirlsict

### Languages

Arabic and English

### Skill 1

Hardware & Repair

### Qualifications for Skill 1

Certificate

### Skill 2

Media &

[2022-03-28 05:27] chardso commented on #154
Updated the description of this profile.

[2022-04-07 03:26] chardso commented on #165
Self description and links your work if any.

[2022-04-07 21:47] chardso commented on #165
Updated the description and corrected name spelling.

[2022-04-14 14:25] MartinSchott commented on #229
@timmwille
the article is here: https://github.com/ASKnetCommunity/LEAD/wiki/Add-or-update-profile-(for-maintainers)

It's already quite long and I spent a lot of time on it. And still have the impression I could write more... But that would never end... I think the topic itself should be covered well enough, it's more about further topics like:

- VSCodium install
- VSCodium checkout GitHub Repo

[2022-04-14 14:29] MartinSchott opened #241 "[How To] Submit new profile via Issue Form"
@timmwille
done
here: https://github.com/ASKnetCommunity/LEAD/wiki/Submit-New-Profile

[2022-04-14 14:29] MartinSchott opened #242 "how-to: "Change Profile" for peers"
@timmwille
done
here: https://github.com/ASKnetCommunity/LEAD/wiki/Change-Existing-Profile

[2022-04-14 14:31] MartinSchott opened #243 "how-to: "Change Issue Templates / Add Skill-Sets" for maintainers"
this is not done
@timmwille

[2022-04-21 16:16] timmwille commented on #198
@Iamjaiksana

[2022-04-21 16:21] timmwille commented on #140
@B-yine @yyenki If I understood correctly this is how it should stay

[2022-04-21 17:11] timmwille commented on #144
is this a confirmation/verification?

[2022-04-21 18:07] MartinSchott commented on #165
will be uploaded shortly

[2022-04-21 18:07] #165 closed

[2022-04-21 19:04] maliarich commented on #125
yeah, Timm.

[2022-04-21 20:10] #70 closed

[2022-04-23 10:16] MartinSchott commented on #78
I uploaded her skills, as they were empty but the profile was already online

[2022-04-23 10:29] #78 closed

[2022-04-24 08:06] sunday767 opened #250 "Diana philip"
### Name

Diana philip

### Profile Image

![FB_IMG_16507815467983242](https://user-images.githubusercontent.com/56921007/164966384-1f71e382-285a-4f37-abb0-e8c1c097905e.jpg)

### Country

South Sudan

### Region

Central Equatoria juba

### Organisation

Gogirlsict

### Languages

Arabic and English

### Skill 1

Hardware & Repair

### Qualifications for Skill 1

Certificate

### Skill 2

Web & So

[2022-04-24 08:19] sunday767 opened #251 "Jehan Jaffar Muhammad"
### Name

Jehan Jaffar

### Profile Image
![IMG_20220424_085248_022](https://user-images.githubusercontent.com/56921007/164967457-bef2f20a-e588-41da-9bae-bc65e4f98a12.JPG)

### Country

South Sudan

### Region

Central Equatoria
### Organisation

Gogirls ICT Initiative

### Languages

English, and  Arabic

### Skill 1

Hardware & Repair

### Qualifications for Skill 1

Certificate

### Skill 2

Op

[2022-04-24 09:21] sunday767 opened #252 "Rana Najmaldin"
### Name

Rana Najmaldin

### Profile Image

![IMG_20220424_085056_341](https://user-images.githubusercontent.com/56921007/164968833-2caa12bb-e592-45f0-b2a3-1f31d8afeb52.JPG)

### Country

South Sudan

### Region

Central Equatoria State, Juba

### Organisation

Gogirls ICT Initiative

### Languages

Arabic and English

### Skill 1

Open Source & Knowledge

### Qualifications for Skill 1

Certific

[2022-04-26 05:22] sunday767 opened #253 "Akok Arol"
### Name

Akok Arol Ater

### Profile Image

![FB_IMG_16509367459473559](https://user-images.githubusercontent.com/56921007/165225461-9ca84b85-2199-46a0-8c31-6271c698a8fd.jpg)

### Country

South Sudan

### Region

Central Equatoria Juba

### Organisation

Gogirls ICT Initiative

### Languages

English, Dinka, Arabic

### Skill 1

Web & Software

### Qualifications for Skill 1

Certificate

### Sk

[2022-04-26 05:55] sunday767 opened #254 "Francis Mena"
### Name

Francis Mena

### Profile Image

![FB_IMG_16509353071243521](https://user-images.githubusercontent.com/56921007/165229864-2aac8dd6-2553-4e34-a255-21d218d4f8ce.jpg)

### Country

South Sudan

### Region

Central Equatoria State,  Juba

### Organisation

GoGirls ICT Initiative

### Languages

English, Arabic, and kakwa

### Skill 1

Hardware Repair

### Qualifications for Skill 1

Certific

[2022-08-11 10:23] DutKulang opened #256 "The type of photo that will be use LEAD profiles"
i would suggest that the we choose the type of photo that we use on LEAD profiles.
1. Photo with one at work
2. Passport like

*Ones to be a voided*
1. Fashion like
2. no good background
3.

[2022-10-13 11:59] dutkulang opened #257 "Create Profile for Baako Scovia"
### Name

Baako Scovia

### Profile Image

![fred](https://user-images.githubusercontent.com/69721309/195590168-68ea3f36-9293-49dd-a7c6-6e13d5906c29.jpg)

### Country

Uganda

### Region

West Nile

### Organisation

Youth Empowerment Foundation

### Languages

English, Madi

### Skill 1
Bookkeeping, Stock taking, and analysis

### Qualifications for Skill 1

 Developed skills via a long-term comm

[2022-10-13 14:33] dutandrewkulang commented on #257
email corrections Baakoscon9@gmail.com

[2022-10-13 14:50] dutandrewkulang commented on #257
Am Baako scovia, a South Sudanese refugee at Pagirinya refugee settlement Uganda. i current help at Pagirnya Architural library as a librian. i genrally love books because they allow me wonder in  the authors thoughts and ideals and also let me see the world int the authors' thought. i would  to start an example to my fellow refugee girls to read more

[2022-11-17 23:40] romeoplat opened #258 "UI Change and Update for ASKlead Website"
![lead](https://user-images.githubusercontent.com/56886935/202582662-d0196800-24d4-4d1f-98d9-37554408c6bc.png)

When you open the website for the beginning, you are faced with a gallery of pictures with less information about what ASKLead is!
Suggestions!

1. We need a read-me! The first descriptive page for ASKlead and the photo gallery can be a page we go to when we need to click see more.......

[2022-11-22 04:20] romeoplat commented on #257
Updated the profile of Scovia, added quite some grammar, and as well removed place holders that didn't have responses

[2022-11-22 04:30] romeoplat commented on #254
Email required, and social media platforms, please @B-yine or @yyenki help us out with these details

[2022-11-22 04:39] DutKulang commented on #220
@Ira13637 qualifications for skill required
email required
please add a proper link to her Facebook profile

[2022-11-22 04:49] romeoplat commented on #253
Can we have a better profile picture for Akol Arop, and please @B-yine @yyenki could you help us get to Akol, or please send us his email and GitHub plus his socials since he is a tech person is really expect he must have a git hub account at least

[2022-11-22 04:50] dutkulang opened #259 "UI feature request"
i suggest that each expert photo becomes clickable other than have to first hover in other to access button to see about each expert. let the ```<img>``` profile tag encapsulate the rest of tags

[2022-11-22 06:08] DutKulang commented on #222
@Math-TECH-Hub under which hub does Stephen Manikese Joshua belong
can Stephen provide his telegram username instead of telephone number

[2022-11-22 06:09] DutKulang commented on #222
@romeoplat can you please help on the description of this profile

[2022-11-22 07:17] romeoplat commented on #222
Unfortunately, i can't tell which hub this guy is from, and for now we have  ASknet hubs and members at priority 1

[2022-11-22 07:20] DutKulang commented on #222
Ok

On Tue, Nov 22, 2022, 10:17 AM Romeo Ronald Lomora ***@***.***>
wrote:

[2022-11-22 07:22] Math-TECH-Hub commented on #222
Under CC4D

[2022-11-22 07:23] DutKulang commented on #222
Got it, thanks!

On Tue, Nov 22, 2022, 10:23 AM Mathew-Lubari ***@***.***>
wrote:

[2022-11-22 07:44] Math-TECH-Hub commented on #222
And the telegram username is @StEvE_MaNix

[2022-11-22 07:50] yyenki commented on #253
I suggest for this profile, it's best if you delete it. Thanks

[2022-11-22 07:51] yyenki commented on #254
Please go ahead to delete this profile too. Thanks

[2022-11-22 07:53] yyenki commented on #254
If we need him included on this platform at some later stage, we will need to properly profile him according to what we want.
Thanks

[2022-11-22 09:41] DutKulang commented on #252
I believe Mrs Rana is/had internship at Gogirls

[2022-11-22 09:44] dawaedina27 commented on #167
@romeoplat this profile is done

[2022-11-22 09:51] DutKulang commented on #225
@GhaiTong thanks alot man you made work simple for me.
Can you clarify Bol Deng Bol's skill 2, did he study Computer Engineering or is it a skill he learnt outside, and as per his Qualifications for Skill 2 does he have photos, videos or online portfolio site that supports his skills

[2022-11-22 10:02] DutKulang commented on #224
@GhaiTong can you please tell us more about the qualifications of Yaro and also please try to respond to @timmwille comment https://github.com/ASKnetCommunity/LEAD/issues/224#issuecomment-1064326946

[2022-11-22 11:24] romeoplat commented on #200
This profile is ready to go

[2022-11-22 12:52] dawaedina27 commented on #200
@romeoplat I have reviewed this profile, He is not connected to #ASKnet any way though he has good skills and experiences. He worked for CTEN as a Trainer for Film production and he is the founder of Bidibidi Media Lab. Let me know whether to delete or leave it for future use.

[2022-11-22 13:13] dawaedina27 commented on #166
This profile is done @romeoplat

[2022-11-22 13:29] dawaedina27 commented on #173
@romeoplat Clement is not a member of #ASKnet though he has good skills and experiences. He is the co-founder of Save Young Lives Foundation Uganda (SYLFU) in Rhino Camp and was working as ICT instructor for CTEN and Mercy Corps. Let me know what to do next.

[2022-11-22 19:07] sunday767 commented on #252
She is good in both language.

Sunday Guido Elias

On Tue, Nov 22, 2022, 12:41 PM Dut Kulang ***@***.***> wrote:

[2022-11-22 19:12] dawaedina27 commented on #195
@romeoplat @timmwille This profile is done

[2022-11-22 19:21] chardso commented on #224
@timmwille there is need for a call to reactivate this process

[2022-11-24 15:42] DutKulang commented on #208
@Ira13637 can you send in a link to Kade Zainab's Facebook account.
also can we have a better explanation of Mrs Kade's qualifications also add some more skills and qualifications
@romeoplat  can you help with the description part

[2022-11-24 18:27] timmwille opened #260 "Create a Community Survey/questionaire to improve on the Platform"
# Questionnaire:
1. [Identity] How well do you feel represented via #ASKlead? (improvement ideas?)
2. [Tech] How easy is the technical usage/functionality for you? (improvement ideas?)
3. [Sustainability] How do you think the content can be maintained? (What do you need to make it easy?)

## → Mobile/Responsiveness question?

[2022-11-24 18:28] timmwille commented on #260
First Draft is ready @romeoplat

![grafik](https://user-images.githubusercontent.com/8081055/203847883-90044798-8cfd-4444-b76c-9e21a40507fe.png)

[2022-11-24 18:41] timmwille commented on #195
done in terms of implemented? or are there changes that apply?

I figured some Profiles are done as in "closed" here (also verified) but the issue is still open:

https://github.com/ASKnetCommunity/LEAD/projects/2?card_filter_query=label%3Averified+is%3Aopen

[2022-11-25 14:07] DutKulang commented on #251
@sunday767 is this a duplicate a profile or ... cause i remember working some Khartoumer's profile
1. And please help me on the qualification of skills. can you elaborate more the qualifications
2. Please provide an email address
3. @romeoplat and @sunday767 also touch the description part

[2022-11-25 16:19] timmwille commented on #130
@dawaedina27 if you are editing here, shall we reopen to keep track of the new updates?

[2022-11-25 16:25] timmwille commented on #251
@DutKulang is it #170 ?

[2022-11-25 22:45] romeoplat commented on #200
It's okay, we can keep him for now since he is known within the network and is also resourceful

[2022-11-25 22:50] romeoplat commented on #195
Anyways I have managed to change in a few tweeks like he had 2 profile pics and some grammar and for now I can approve that the profile is verified and good to go

[2022-11-25 22:53] romeoplat commented on #260
I love the interface, anyway yes thanks a lot @timmwille the questions are as direct and proper as we suggested that great! Nice work there Bigman

[2022-11-25 22:53] romeoplat commented on #260
I love the interface, anyway yes thanks a lot @timmwille the questions are as direct and proper as we suggested that great! Nice work there Bigman

[2022-11-27 21:15] timmwille commented on #260
Ok, then feel free to send the questionaire Link I send you via PM around :+1:

[2022-11-27 21:15] #260 closed

[2022-11-27 21:17] timmwille commented on #200
ok thx guys, I'll add him to the list

[2022-11-27 21:20] timmwille commented on #251
I could not find any duplicate, please help how to continue from here @DutKulang @romeoplat

[2022-11-27 21:28] timmwille commented on #211
what is the status here @dawaedina27 @romeoplat → approved?

[2022-11-27 21:29] timmwille commented on #209
status @romeoplat

[2022-11-27 21:29] timmwille commented on #210
status @romeoplat

[2022-11-27 21:30] timmwille commented on #207
status @romeoplat ?

[2022-11-27 21:31] timmwille commented on #166
status @romeoplat ?

[2022-11-27 21:32] timmwille commented on #167
status @romeoplat ?

[2022-11-27 21:52] timmwille commented on #253
I just put him on Prio2 so it can wait, he is not yet online so no need to delete/archive :+1:

[2022-11-27 21:58] timmwille commented on #101
does no longer exist?

[2022-11-27 22:05] timmwille commented on #216
status @romeoplat ? I put this on Prio 1

[2022-11-27 22:23] timmwille opened #261 "some suggestions/clarifications for governance on GitHub - do you agree?"
I have reviewed all ongoing action and trying to sort this a bit with my GitHub Knowledge to help with the overview and speed for the team.
So here is my list of suggested workflows/arrangements to help you @romeoplat @DutKulang @dawaedina27 and everyone helping out:

## Please comment if you have changes/additions/comments

on another note (some suggestions/clarifications for governance on GitHub

[2022-11-27 22:31] timmwille commented on #261
@romeoplat to get you some filter help:

essentially that means these whit the labels `Profile-Update` + `prio 1` have the highest priority:

https://github.com/ASKnetCommunity/LEAD/issues?q=is%3Aissue+is%3Aopen+label%3AProfile-Update+label%3A%22prio+1%22+

and after that followed by all `prio 1`+`Profile` issues in general:

https://github.com/ASKnetCommunity/LEAD/issues?q=is%3Aissue+is%3Aopen+la

[2022-11-27 22:38] timmwille commented on #59
@romeoplat the info@asknet.community is also in place, though handled by @Iamjaiksana and/or @yara89 to my knowledge and used for the online form in https://asknet.communty contact. (not sure if actively monitored, please find out)

also note asklead@asknet.community is also in place for you now! so that case is closed :+1:

[2022-11-27 22:38] #59 closed

[2022-11-28 05:43] romeoplat commented on #59
Amazing that's great

[2022-11-28 15:27] DutKulang opened #262 "Update Profile Locally"
When a profile is edited locally, is it necessary to delete `profiles.csv` file and rebuild by running `python3 extract.py`. if not deleted expert profiles wouldn't show up but the page will load successfully

[2022-11-29 07:40] DutKulang commented on #262
fixed #262 the issue was with the the URL address 'http://local:4000` which causes the issue. The required development URL `http://0.0.0.0:4000/`

[2022-11-29 07:41] #262 closed

[2022-11-29 14:32] timmwille commented on #130
Added Facebook and Wikifab as well, correct Links:

[code]

[2022-11-29 15:16] timmwille commented on #209
we need the URLs for Facebook and Instagram

[2022-11-29 15:31] timmwille commented on #209
the final facebook link did not approve for quality check :laughing: though congratulations !

[2022-11-29 15:57] timmwille commented on #33
![grafik](https://user-images.githubusercontent.com/8081055/204578597-23386474-66fd-4737-bffb-8e340359a0f5.png)

might be a new approach but I think we still need a development branch. What do you think @DutKulang

this is where the Idea came from:
https://nvie.com/posts/a-successful-git-branching-model/

[2022-11-29 16:00] #130 closed

[2022-11-29 17:05] timmwille opened #265 "Sida Lillian - Update Social Media URLs contact info"
https://lead.asknet.community/profiles/Sida-Lillian/

#209 see comment